.dxpc-closeBtnHover .dxPivotGrid_pgCustomizationFormCloseButton_OVTime,
.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_OVTime,
.dxPivotGrid_FLBottomPanelOnly2by2_OVTime,
.dxPivotGrid_FLButton_OVTime,
.dxPivotGrid_FLColumnAreaHeaders_OVTime,
.dxPivotGrid_FLDataAreaHeaders_OVTime,
.dxPivotGrid_FLFieldList_OVTime,
.dxPivotGrid_FLFilterAreaHeaders_OVTime,
.dxPivotGrid_FLRowAreaHeaders_OVTime,
.dxPivotGrid_FLStackedDefault_OVTime,
.dxPivotGrid_FLStackedSideBySide_OVTime,
.dxPivotGrid_FLTopPanelOnly_OVTime,
.dxPivotGrid_pgCollapsedButton_OVTime,
.dxPivotGrid_pgCustomizationFormCloseButton_OVTime,
.dxPivotGrid_pgDataHeaders_OVTime,
.dxPivotGrid_pgDragArrowDown_OVTime,
.dxPivotGrid_pgDragArrowLeft_OVTime,
.dxPivotGrid_pgDragArrowRight_OVTime,
.dxPivotGrid_pgDragArrowUp_OVTime,
.dxPivotGrid_pgDragHideField_OVTime,
.dxPivotGrid_pgExpandedButton_OVTime,
.dxPivotGrid_pgFilterButton_OVTime,
.dxPivotGrid_pgFilterButtonActive_OVTime,
.dxPivotGrid_pgFilterResizer_OVTime,
.dxPivotGrid_pgGroupSeparator_OVTime,
.dxPivotGrid_pgPrefilterButton_OVTime,
.dxPivotGrid_pgSortByColumn_OVTime,
.dxPivotGrid_pgSortDownButton_OVTime,
.dxPivotGrid_pgSortUpButton_OVTime
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxpc-closeBtnHover .dxPivotGrid_pgCustomizationFormCloseButton_OVTime
{
    background-position: -207px 0px;
    width: 18px;
    height: 18px;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -187px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -17px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: -119px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -102px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: -204px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -136px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: -68px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -170px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_OVTime
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_OVTime
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton_OVTime
{
    background-position: -34px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_OVTime
{
    background-position: -221px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_OVTime
{
    background-position: -85px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_OVTime
{
    background-position: -153px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_OVTime
{
    background-position: -245px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_OVTime
{
    background-position: -262px 0px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_OVTime
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide_OVTime
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly_OVTime
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton_OVTime
{
    background-position: -51px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_OVTime
{
    background-position: -188px 0px;
    width: 18px;
    height: 18px;
}
.dxPivotGrid_pgDataHeaders_OVTime
{
    background-position: -220px -20px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown_OVTime
{
    background-position: -176px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_OVTime
{
    background-position: -200px -21px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight_OVTime
{
    background-position: -210px -21px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp_OVTime
{
    background-position: -188px -23px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_OVTime
{
    background-position: -165px 0px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton_OVTime
{
    background-position: 0px -33px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_pgFilterButton_OVTime
{
    background-position: -247px -17px;
    width: 18px;
    height: 15px;
}
.dxPivotGrid_pgFilterButtonActive_OVTime
{
    background-position: -266px -17px;
    width: 18px;
    height: 15px;
}
.dxPivotGrid_pgFilterResizer_OVTime
{
    background-position: -226px 0px;
    width: 18px;
    height: 18px;
}
.dxPivotGrid_pgGroupSeparator_OVTime
{
    background-position: -279px 0px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton_OVTime
{
    background-position: -233px -19px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn_OVTime
{
    background-position: -238px -33px;
    width: 15px;
    height: 14px;
}
.dxPivotGrid_pgSortDownButton_OVTime
{
    background-position: -265px -33px;
    width: 10px;
    height: 15px;
}
.dxPivotGrid_pgSortUpButton_OVTime
{
    background-position: -254px -33px;
    width: 10px;
    height: 15px;
}
.dxPivotGrid_pgFilterButtonActive_OVTime
{
	background-color: #1279C0;
}
.dxPivotGrid_pgCustomizationFormCloseButton_OVTime,
.dxPivotGrid_FLButton_OVTime
{
    display:block;
}

