.dxpgControl_OVTime, .dxpgCustForm_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
}
.dxpgContainerCell_OVTime
{
	vertical-align: top;
}
.dxpgMainTable_OVTime
{
	width: 100%;
	text-align: left;
}
.dxpgMainTable_OVTime
{
    border: 0;
}
div.dxpgMainTable_OVTime
{
	-ms-touch-action: pinch-zoom;
}
.dxpgMainTable_OVTime caption
{
    background: #F7FAFF;
    color: #2B2B2B;
    border-bottom: Solid 1px #d1d1d1;
    padding: 5px 5px 6px;
	font-weight: normal;		
	text-align: center;	
}    
table.dxpgHeader_OVTime
{
	background: #fafafa;

	cursor: pointer;
	white-space: nowrap;
	text-align: left;
}
.dxpgHeaderTable_OVTime
{
	border: 1px Solid #d1d1d1;
	width: 100%;
}
.dxpgMSDraggable .dxpgHeaderTable_OVTime,
.dxpgCustFieldsDiv_OVTime .dxpgHeaderTable_OVTime
{
	-ms-touch-action: pinch-zoom;
}
.dxpgHeaderGroupButton_OVTime
{
	padding: 0 4px 0 8px;
}
.dxpgHeaderText_OVTime
{
    color: #7e7e7e;
	padding: 8px 10px;
}
.dxpgHeaderSort_OVTime
{
	padding-left: 0px;
	padding-right: 4px;
	vertical-align: middle;
}
.dxpgHeaderFilter_OVTime
{
	padding: 0 8px 0 4px;
}
.dxpgHeaderHover_OVTime
{
}
.dxpgArea_OVTime, 
.dxpgArea_OVTime table
{
	color: #979797;
}
.dxpgArea_OVTime
{
	border: 1px none #d1d1d1;
}
.dxpgColumnArea_OVTime
{
    border-top: 1px solid #d1d1d1;
    padding: 2px 0;
}
.dxpgRowArea_OVTime + td:last-child 
{
    border: 0;
    border-bottom: 1px solid #d1d1d1;
}
.dxpgDataArea_OVTime
{
    border-top: 1px solid #d1d1d1;
}
.dxpgFilterArea_OVTime
{
    border-top: 1px solid #d1d1d1;
    padding: 2px 0;
}
.dxpgEmptyArea_OVTime 
{
	cursor: default;
	padding: 16px 6px;
}
.dxpgColumnFieldValue_OVTime
{
	background-color: #fafafa;
	border: Solid 1px #d1d1d1;
	padding: 4px 6px 5px;
    font-weight: normal;
    text-align: left;
    border-right-style: none;
	border-bottom-style: none
}
.dxpgColumnTotalFieldValue_OVTime
{
	background-color: #eaeaea;
	background-image: none;
}
.dxpgColumnGrandTotalFieldValue_OVTime
{
	background-color: #e4e4e4;
}
.dxpgRowFieldValue_OVTime
{
    color: #4F4F4F;
	background-color: #fafafa;
	border: Solid 1px #d1d1d1;
	padding: 4px 6px 5px 6px;
    font-weight: normal;
    text-align: left;
	border-right-style: none;
	border-bottom-style: none;
}
.dxpgRowTotalFieldValue_OVTime
{
	background-color: #eaeaea;
}
.dxpgRowTreeFieldValue_OVTime
{
	padding: 0;
	font-size: 0;
}
.dxpgRowGrandTotalFieldValue_OVTime
{
	background-color: #e4e4e4;
	padding: 12px 10px;
}
.dxpgCollapsedButton_OVTime
{
	vertical-align: -3px;
	border: 0px;
	margin-right: 5px;
}
.dxpgSortByColumnImage_OVTime
{
	vertical-align: -3px;
	border: 0px;
	margin-left: 5px;
}
.dxpgCell_OVTime
{
	text-align: right;
	background-color: #FFFFFF;	
	border: 1px solid #d1d1d1;
	padding: 8px 10px;
	white-space: nowrap;
    border-top-style: solid !important;
	border-left-style: solid !important;
	border-bottom-style: none;
	border-right-style: none;
}
div.dxpgMainTable_OVTime .dxpgCell_OVTime
{
	border-bottom-style: none;
}
.dxpgKPICell_OVTime
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell_OVTime
{
	background-color: #fcfcfc;
}
.dxpgGrandTotalCell_OVTime
{
	background-color: #efefef;
}
.dxpgFilterItem_OVTime
{
    white-space: nowrap;
}
.dxpgFilterButton_OVTime
{
}

.dxpgTopPager_OVTime,
.dxpgBottomPager_OVTime
{
	padding: 4px 0px;
}
.dxpgControl_OVTime .dxpLite_OVTime
{
	padding: 6px 0;
}
.dxpgTopPager_OVTime,
.dxpgBottomPager_OVTime
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.dxpgCustomizationFieldsHeader_OVTime
{
	color: #2B2B2B;
	background-image: none!important;
	padding: 7px 6px 7px 12px!important;
}
.dxpgCustomizationFieldsContent_OVTime
{
	padding: 0px!important;
}
.dxpgMenuItem_OVTime 
{
}
.dxpgDataHeadersImage_OVTime
{
	margin-right: 5px;
	vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_OVTime
{
	border: 1px solid white;
}
.dxpgPrefilterPanelLink_OVTime
{
	text-decoration: underline;	
}
.dxpgPrefilterPanel_OVTime
{
	border-top: 1px solid #d1d1d1;
}
.dxpgPrefilterPanel_OVTime a
{
	color: #045cad;
	text-decoration: underline;
}
.dxpgPrefilterPanel_OVTime a:hover
{
	color: #2b2b2b;
}
.dxpgPrefilterPanelCheckBoxCell_OVTime
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxpgPrefilterPanelImageCell_OVTime
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelClearButtonCell_OVTime
{
	padding: 8px 6px 10px;
}
.dxpgPrefilterPanelExpressionCell_OVTime
{
	padding: 8px 5px 10px 0;	
	white-space: nowrap;
}
.dxpgFilterBuilderMainArea_OVTime
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea_OVTime
{
	background-color: #fafafa;
	border-top: solid 1px #d1d1d1;
	padding: 6px;
	white-space: nowrap;
}
.dxpgGroupSeparator_OVTime
{
	vertical-align: middle;
}
.dxpgCustFieldsFilterAreaHeaders_OVTime,
.dxpgCustFieldsRowAreaHeaders_OVTime,
.dxpgCustFieldsColumnAreaHeaders_OVTime,
.dxpgCustFieldsDataAreaHeaders_OVTime,
.BottomPanelOnly1by4 .dxpgFLFRDiv_OVTime,
.BottomPanelOnly1by4 .dxpgFLCDDiv_OVTime
{
    width:100%;
    height:50%;
}
.StackedDefault .dxpgCustFieldsFieldList_OVTime
{
    height:34%;
}
.StackedDefault .dxpgFLFRDiv_OVTime
{
    width:50%;
    height:66%;
    float:left;
}
.StackedDefault .dxpgFLCDDiv_OVTime
{
    width:50%;
    height:66%;
    float:right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_OVTime .dxpgFLTextDiv_OVTime,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_OVTime .dxpgFLTextDiv_OVTime
{
    height:47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_OVTime
{
    width:100%;
    height:100%;
}
.TopPanelOnly .dxpgFLDefereDiv_OVTime .dxeBase_OVTime,
.TopPanelOnly .dxpgFLDefereDiv_OVTime .dxpgFLDefereDB_OVTime,
.TopPanelOnly .dxpgFLFRDiv_OVTime,
.TopPanelOnly .dxpgFLCDDiv_OVTime,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_OVTime,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_OVTime,
.TopPanelOnly .dxpgFLTextDiv_OVTime div
{
    display:none;
}
.TopPanelOnly .dxpgFLTextDiv_OVTime
{
    height:19px;   
}
.TopPanelOnly .dxpgFLDefereDiv_OVTime
{
    height:16px;   
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_OVTime,
.StackedSideBySide .dxpgCustFieldsFieldList_OVTime
{
    width:50%;
    height:100%;
    float:left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_OVTime
{
    width:50%;
    height:100%;
    float:right;
}
.StackedSideBySide .dxpgFLFRDiv_OVTime,
.StackedSideBySide .dxpgFLCDDiv_OVTime
{
    width:50%;
    height:50%;
    float:right;
}
.dxpgCustFields_OVTime
{
    display:block;
    position:relative;
}
.dxpgFLListDiv_OVTime > div
{
    border:1px solid #d1d1d1;
    position:relative;
    display:block;
    height:100%;
    padding:1px;
    background:#FFFFFF;
    overflow:hidden;
}
.dxpgFLListDiv_OVTime > div > div
{
    position:relative;
    display:block;
    height:100%;
    padding:0px;
    background:#FFFFFF;
    overflow-x:hidden;
    overflow-y:auto;
}
.DragOver .dxpgFLListDiv_OVTime > div
{
    background:#FFD324;
}
.dxpgFLListDiv_OVTime
{
    padding:0px 3px 0px 3px;
}
.dxpgFLButtonDiv_OVTime .dxbButton_OVTime div.dxb
{
	border: dotted 1px transparent;	
	padding:1px 7px 0px;
}
.dxpgFLButtonDiv_OVTime .dxbButton_OVTime div.dxbf
{
	border: dotted 1px black;	
}
.dxpgFLTextDiv_OVTime
{
    height:40px;
}
.dxpgFLTextDiv_OVTime div
{
   display:block;
   float:left;
   margin:-22px 0px 8px 0px;
   left:6px;
   top:100%;
   position:relative;
}
div.dxpgFLTextImgDiv_OVTime
{
    display:block;
    height:16px;
    width:16px;
    margin:-21px 0px 8px 0px;
    left:3px;
}
.dxpgFLButtonDiv_OVTime
{
    float:right;
    height:40px;
    position:relative;
    z-index:1;
}
.dxpgFLDefereDiv_OVTime
{
    height:64px;
}
.dxpgCustFieldsDiv_OVTime
{
    clear:both;   
    padding:0px 9px;
}
.dxpgFLButton_OVTime
{
     margin:12px 12px 0px 0px;
     width:40px;
     height:23px;
}
.dxpgFLDefereDiv_OVTime .dxeBase_OVTime
{
     float:left;
     display:block;
     border-collapse:separate;
     padding:18px 0px 0px 0px; 
     margin-left:8px;  
}
.dxpgCustForm_OVTime .dxpgFLDefereDiv_OVTime .dxeBase_OVTime
{
     padding:18px 0px 0px;
}
.dxpgFLDefereDB_OVTime
{
    float:right;
    display:block;
    margin: 16px 12px 0 0;
}
.dxpgFLDefereDiv_OVTime .dxbButton_OVTime div.dxb
{
    padding:1px 13px 1px 13px;
    border: dotted 1px transparent;	
}
.dxpgFLDefereDiv_OVTime .dxbButton_OVTime div.dxbf
{
    border: dotted 1px black;	
}
.dxpgFLListDiv_OVTime table 
{
     width:100%;
     table-layout:fixed;  
     overflow:visible;
}
.dxpgFLListDiv_OVTime table table td
{
     overflow:hidden; 
}
/*Loading Panel*/
.dxpgLoadingPanel_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: White;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxpgLoadingPanel_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 15px 34px 15px 20px;
}
.dxpgLoadingPanel_OVTime .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 40px;
	width: 40px;
}

.dxpgPTContainerDiv_OVTime td.lastVertCell {
    border-bottom: 1px solid #d1d1d1 !important;
}
.dxpgPTContainerDiv_OVTime td.lastHorzCell {
    border-right: 1px solid #d1d1d1 !important;
}

.dxpgVScrollBarAreaCell_OVTime {
    background-color: #fafafa;
    border-right: Solid 1px #d1d1d1;
    border-top: Solid 1px #d1d1d1;
}
.dxpgHScrollBarAreaCell_OVTime {
    background-color: #fafafa;
    border-left: Solid 1px #d1d1d1;
    border-bottom: Solid 1px #d1d1d1;
}
.dxpgScrollBarEdgeCell_OVTime {
    border-right: Solid 1px #d1d1d1;
    border-bottom: Solid 1px #d1d1d1;
}
