﻿<%@ Page Title="" Language="C#"  AutoEventWireup="true" CodeFile="activate.aspx.cs" Inherits="Account_activate" MasterPageFile="~/Light.master" %>

<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" runat="server">
    <div style="padding: 20px;float: left;">
    <asp:Label ID="statues" runat="server" Text="Label"></asp:Label>
    </div>
 </asp:Content>
    
 

