<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Light.master" CodeFile="RegisterSuccess.aspx.cs" Inherits="RegisterSuccess" %>

<asp:content id="MainContent" contentplaceholderid="ContentPage" runat="server">
    <div class="accountHeader">
    <h2>Registration</h2>
    <p>Registration is successful! Thank you for registering. Go to <a href="Login.aspx">login page</a>.</p>
</div>
</asp:content>