.dxTreeList_CollapsedButton_OVTime,
.dxTreeList_CollapsedButtonRtl_OVTime,
.dxTreeList_DragAndDropArrowDown_OVTime,
.dxTreeList_DragAndDropArrowUp_OVTime,
.dxTreeList_DragAndDropHide_OVTime,
.dxTreeList_DragAndDropNode_OVTime,
.dxTreeList_ExpandedButton_OVTime,
.dxTreeList_ExpandedButtonRtl_OVTime,
.dxTreeList_SortAsc_OVTime,
.dxTreeList_SortDesc_OVTime
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxTreeList_CollapsedButton_OVTime
{
    background-position: 0px -40px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CollapsedButtonRtl_OVTime
{
    background-position: -17px -40px;
    width: 16px;
    height: 16px;
}
.dxTreeList_DragAndDropArrowDown_OVTime
{
    background-position: -12px -73px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropArrowUp_OVTime
{
    background-position: 0px -73px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropHide_OVTime
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxTreeList_DragAndDropNode_OVTime
{
    background-position: -11px -57px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButton_OVTime
{
    background-position: -17px -23px;
    width: 16px;
    height: 16px;
}
.dxTreeList_ExpandedButtonRtl_OVTime
{
    background-position: 0px -23px;
    width: 16px;
    height: 16px;
}
.dxTreeList_SortAsc_OVTime
{
    background-position: 0px -57px;
    width: 10px;
    height: 15px;
}
.dxTreeList_SortDesc_OVTime
{
    background-position: -23px 0px;
    width: 10px;
    height: 15px;
}

