.dxtlControl_OVTime
{
	cursor: default;
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	border: 1px none #d1d1d1;
}
.dxtlControl_OVTime caption
{
	background: #F7FAFF none;
	color: #2B2B2B;
	border-bottom: 0;
	border: 1px solid #d1d1d1;
	font-weight: normal;
	text-align: center;
	padding: 5px 5px 6px;
}
.dxtlControl_OVTime .dxtlDataTable
{
	border: 1px solid #d1d1d1;
}

/* Indent cells */
.dxtlIndent_OVTime,
.dxtlIndentWithButton_OVTime
{
	vertical-align: top;
	background: white none no-repeat top center;
}
.dxtlIndent_OVTime
{
	padding: 0 11px;
}
.dxtlICheckBox_OVTime
{
	margin: auto;
}
.dxtlIndentWithButton_OVTime
{
	padding: 10px 4px;
}
.dxtlSelectionCell_OVTime
{
	border: 1px solid #d1d1d1;
	padding: 0 4px;
}

/* Tree-lines cells */
.dxtlLineRoot_OVTime
{
	background: White  repeat-y center top;
}
.dxtlLineFirst_OVTime
{
}
.dxtlLineMiddle_OVTime
{
}
.dxtlLineLast_OVTime
{
}
.dxtlLineFirstRtl_OVTime
{
}
.dxtlLineMiddleRtl_OVTime
{
}
.dxtlLineLastRtl_OVTime
{
}

/* Headers */
.dxtlControl_OVTime .dxtlHSDC 
{
    background: none;
    border: 1px Solid #d1d1d1;
}
.dxtlHeader_OVTime
{
	border: 1px Solid #d1d1d1;
	background: #fafafa none;
	padding: 8px 10px 7px;
	font-weight: normal;
}
.dxtlDataTable .dxtlHeader_OVTime
{
    border-top: 0;
    border-right: 0;
}
.dxtlControl_OVTime[dir=rtl] .dxtlDataTable .dxtlHeader_OVTime
{
    border-left: 0;
    border-right: 1px Solid #d1d1d1;
}
.dxtlDataTable .dxtlHeader_OVTime:first-child 
{
    border-left-width: 0;
}
.dxtlDataTable .dxtlHeader_OVTime:last-child 
{
    border-right-width: 0;
}
.dxtlHeader_OVTime table.dxtl
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_OVTime td.dxtl
{
	padding: 0;
}
.dxtlHeader_OVTime,
.dxtlHeader_OVTime td.dxtl
{
    color: #7e7e7e;
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

/* Nodes */
.dxtlNode_OVTime
{
	background: white;
}
.dxtlAltNode_OVTime
{
	background-color: #EEF6FB;
}
.dxtlSelectedNode_OVTime
{
	background-color: #f3f3f3;
}
.dxtlFocusedNode_OVTime
{
	background-color: #e5e5e5;
}
.dxtlInlineEditNode_OVTime
{
	background: white none;
}
.dxtlEditFormDisplayNode_OVTime
{
	background: #ECF4FE none;
}
.dxtlNode_OVTime td.dxtl, 
.dxtlAltNode_OVTime  td.dxtl, 
.dxtlSelectedNode_OVTime td.dxtl, 
.dxtlFocusedNode_OVTime td.dxtl,
.dxtlEditFormDisplayNode_OVTime td.dxtl,
.dxtlCommandCell_OVTime
{
	padding: 8px 10px;
	border: 1px solid #d1d1d1;
	white-space: nowrap;
	overflow: hidden;
}
.dxtlCommandCell_OVTime
{
	padding: 0 10px;
}
.dxtlHeader_OVTime .dxbButton_OVTime,
.dxtlCommandCell_OVTime .dxbButton_OVTime
{
    margin: 0px 2px;
}
.dxtlHeader_OVTime .dxbButton_OVTime .dxb,
.dxtlCommandCell_OVTime .dxbButton_OVTime .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxtlInlineEditNode_OVTime td.dxtl
{
	border: 1px solid #d1d1d1;
	padding: 1px;
}
/* Scrolling */
.dxtlControl_OVTime .dxtlHSDC,
.dxtlControl_OVTime .dxtlCSD,
.dxtlControl_OVTime .dxtlFSDC
{
    border: 1px solid #d1d1d1;
}
.dxtlControl_OVTime .dxtlHSDC .dxtlCSD,
.dxtlControl_OVTime .dxtlFSDC .dxtlCSD,
.dxtlControl_OVTime .dxtlHSDC .dxtlDataTable,
.dxtlControl_OVTime .dxtlCSD .dxtlDataTable,
.dxtlControl_OVTime .dxtlFSDC .dxtlDataTable
{
    border: 0;
}
.dxtlControl_OVTime .dxtlCSD .dxtlDataTable .dxtlHSEC
{
    border-left: 1px solid #d1d1d1!important;
}
.dxtlControl_OVTime .dxtlHSDC .dxtlHeader_OVTime 
{
    border-bottom: 0;
}
.dxtlControl_OVTime .dxtlFSDC .dxtlFooter_OVTime td.dxtl,
.dxtlControl_OVTime .dxtlFSDC .dxtlFooter_OVTime .dxtlIndent_OVTime
{
    border-top: 0!important;
}
.dxtlControl_OVTime .dxtlHSDC + .dxtlCSD
{
    border-top: 0;
}
.dxtlControl_OVTime .dxtlCSD + .dxtlFSDC
{
    border-top: 0;
}

/* Preview */
.dxtlPreview_OVTime
{
	background-color: white;
	padding: 15px 15px 15px 20px;
	border: 1px solid #d1d1d1;
	overflow: hidden;
}

/* Footers */
.dxtlGroupFooter_OVTime
{
	background-color: white;
}
.dxtlFooter_OVTime td.dxtl,
.dxtlFooter_OVTime .dxtlIndent_OVTime,
.dxtlControl_OVTime .dxtlFSDC
{
	background-color: #fafafa;
}
.dxtlGroupFooter_OVTime td.dxtl,
.dxtlFooter_OVTime td.dxtl
{
	white-space: nowrap;
	border: 1px solid #d1d1d1;
	overflow: hidden;
}
.dxtlFooter_OVTime td.dxtl,
.dxtlFooter_OVTime .dxtlIndent_OVTime
{
    border-top: 1px solid #d1d1d1!important;
}
.dxtlFooter_OVTime td.dxtl
{
	padding: 12px 10px;
}
.dxtlGroupFooter_OVTime td.dxtl
{
    padding: 8px 10px;
}

/* Pagers */
.dxtlPagerTopPanel_OVTime,
.dxtlPagerBottomPanel_OVTime
{
	padding: 4px 0;
}
.dxtlPagerTopPanel_OVTime
{
	border-bottom: 1px none #d1d1d1;
}
.dxtlPagerBottomPanel_OVTime
{
    border-top: 1px none #d1d1d1;
}
.dxtlControl_OVTime .dxpLite_OVTime
{
	padding: 6px 0;
}

/* Editing */
.dxtlEditForm_OVTime
{
	border: 1px solid #d1d1d1;
	padding: 10px 15px;
}
.dxtlEditFormCaption_OVTime,
.dxtlEditFormEditCell_OVTime
{
	padding: 4px;
}
.dxtlEditFormCaption_OVTime
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_OVTime
{
	background: #DBEBFF none;
	color: #FF0000;
	padding: 6px 10px;
	border: 1px solid #d1d1d1;
}
.dxtlPopupEditForm_OVTime
{
	padding: 12px;
}

/* Links */
.dxtlControl_OVTime a,
.dxtlCommandCell_OVTime a
{
	color: #045cad;
	text-decoration: underline;
}
.dxtlControl_OVTime a:hover
{
	color: #2b2b2b;
	text-decoration: underline;
}
.dxtlHeader_OVTime a,
.dxtlFocusedNode_OVTime a,
.dxtlSelectedNode_OVTime a
{
	color: #045cad;
}
.dxtlHeader_OVTime a:hover,
.dxtlFocusedNode_OVTime a:hover,
.dxtlSelectedNode_OVTime a:hover
{
	color: #2b2b2b;
}
.dxtlCommandCell_OVTime a
{
	margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: White;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxtlLoadingPanel_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 15px 34px 15px 20px;
}
.dxtlLoadingPanel_OVTime .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 40px;
	width: 40px;
}

/* Disabled */
.dxtlDisabled_OVTime,
.dxtlDisabled_OVTime .dxtl_OVTime
{
	color: #A1A1A1;
	cursor: default;
}


