/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_OVTime
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: White;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxheLoadingPanel_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 15px 34px 15px 20px;
}
.dxheLoadingPanel_OVTime .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 40px;
	width: 40px;
}

.dxheControl_OVTime
{
    border: Solid 1px #d1d1d1;
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}

/* Area */
.dxheContentArea_OVTime
{
    padding: 0;
}
.dxheErrorFrame_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
    color: #D00707;
    background-color: #FBC7C7;
    border-bottom: solid 1px #DEC0C0;
}
.dxheErrorFrame_OVTime .dxhe 
{
    padding: 5px;
}
.dxheErrorFrame_OVTime .dxhe td 
{
    padding: 0;
}
.dxheErrorFrame_OVTime .dxheErrorFrameCloseButton_OVTime 
{
    cursor: pointer;
}
.dxheViewArea_OVTime,
.dxheViewArea_OVTime.dxeMemo_OVTime
{
    border: 0;
}
.dxheContentArea_OVTime td.dxheViewArea_OVTime 
{
    line-height: 0;
}
.dxheHtmlViewEdit_OVTime,
.dxheDesignViewArea_OVTime,
.dxhePreviewArea_OVTime 
{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #2B2B2B;
}
.dxheContentArea_OVTime .dxeMemo_OVTime,
.dxheContentArea_OVTime .dxeMemoEditArea_OVTime
{
    background-color: white;
}
td.dxheHtmlViewEdit_OVTime,
body.dxheDesignViewArea_OVTime,
body.dxhePreviewArea_OVTime
{
    padding: 4px 4px 0 4px;
}
.dxheControl_OVTime.dxhe-rtl td.dxheHtmlViewEdit_OVTime,
.dxheControl_OVTime.dxhe-rtl .dxeMemo_OVTime td
{
	padding: 0 4px 0 0;
}
.dxWebKitFamily .dxheControl_OVTime.dxhe-rtl td.dxheHtmlViewEdit_OVTime,
.dxWebKitFamily .dxheControl_OVTime.dxhe-rtl .dxeMemo_OVTime td
{
	padding: 0 0 0 4px;
}
.dxheControl_OVTime .dxeMemo_OVTime textarea 
{
	resize:none;
}
.dxheControl_OVTime td.dxheDesignViewArea_OVTime .dxm-main.dxmtb 
{
    border: 1px solid #cfcfcf;
    padding: 4px;
}
td.dxheDesignViewArea_OVTime .dxmLite_OVTime .dxm-horizontal .dxm-spacing {
    width: 1px;
}
.dxheControl_OVTime td.dxheDesignViewArea_OVTime
{
    position: relative;
}
td.dxheDesignViewArea_OVTime .dxmLite_OVTime {
    position: absolute;
    right: 0;
    padding-top: 5px;
    padding-right: 22px;
}
td.dxheDesignViewArea_OVTime .dxmLite_OVTime.dxm-rtl {
    right: inherit;
    padding-right: 0px;
    padding-left: 5px;
}
.dxheViewArea_OVTime .dxheAudio
{
	background-image: url('dxheAudio.png');
}
.dxheViewArea_OVTime .dxheFlash
{
	background-image: url('dxheFlash.png');
}
.dxheViewArea_OVTime .dxheVideo
{
	background-image: url('dxheVideo.png');
}
.dxheViewArea_OVTime .dxheYoutube
{
	background-image: url('dxheYoutube.png');
}
.dxheViewArea_OVTime img.dxheNotSupported
{
	background-image: url('dxheNotSupported.png');
}
.dxheViewArea_OVTime img.dxheAudio,
.dxheViewArea_OVTime img.dxheFlash,
.dxheViewArea_OVTime img.dxheVideo,
.dxheViewArea_OVTime img.dxheYoutube,
.dxheViewArea_OVTime img.dxheNotSupported
{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cfcfcf;
    border: 1px dotted #FFFFFF;
    opacity: 0.8;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_OVTime table.dxEmptyBorderTable,
body.dxheDesignViewArea_OVTime table.dxEmptyBorderTable td {
    border:1px dotted gray;
}
@media print 
{
	body.dxheDesignViewArea_OVTime table.dxEmptyBorderTable,
	body.dxheDesignViewArea_OVTime table.dxEmptyBorderTable td {
		border:0px;
	}
}
body.dxheDesignViewArea_OVTime
{
    word-wrap: inherit;
}
body.dxheDesignViewArea_OVTime pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* Status Bar */
.dxheStatusBar_OVTime 
{
}
.dxheStatusBarTab_OVTime 
{    
}
.dxHtmlEditor_heSizeGrip_OVTime
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_OVTime
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_OVTime 
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -18px;
}
.dxheControl_OVTime.dxhe-rtl .dxheSizeGripContainer_OVTime
{
	text-align: left;
}
.dxheControl_OVTime .dxtcLite_OVTime .dxtc-leftIndent
{
	width: 0!important;
}
.dxheControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer.dxtc-strip
{
	background: #fafafa;
	padding: 0!important;
}
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-tab,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom.dxtc-noSpacing > .dxtc-stripContainer .dxtc-activeTab.dxtc-lead,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-leftIndent,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-spacer,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-rightIndent,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-sbWrapper,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-sbIndent,
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-sbSpacer
{
    border-top: 1px solid #d1d1d1!important;
}
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-tab
{
}
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-tab .dxtc-link 
{
	padding: 7px 15px 5px 16px;
}

.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab
{
    border-top: 1px solid transparent!important;
}
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab .dxtc-link 
{
	padding: 7px 14px 5px 15px;
}
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab.dxtc-lead
{
    border-left: 1px solid transparent!important;
}
.dxheControl_OVTime.dxhe-rtl .dxtcLite_OVTime.dxtc-bottom .dxtc-stripContainer .dxtc-activeTab.dxtc-lead
{
    border-left: 1px solid #D1D1D1 !important;
    border-right: 1px solid transparent!important;
}
.dxheControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer .dxtc-tab
{
	background: transparent;
}
.dxheControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer .dxtc-tabHover
{
	background: #1279c0;
}
.dxheControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer .dxtc-activeTab
{
	background-color: white!important;
	border: 1px solid #d1d1d1;
	border-top: 0!important;
}
.dxheControl_OVTime .dxtcLite_OVTime.dxtc-bottom > ul
{
    border: 0!important;
}
/* ----------------- Dialog Forms ----------------- */
.dxpcLite_OVTime .dxheDlgFooter,
.dxpcLite_OVTime .dxheCustomDialog_OVTime .dxhecd-Buttons
{
	background-color: #fafafa;
	border-top: 1px #d1d1d1 solid;
	padding: 16px 11px;
	text-align: right;
}
.dxpcLite_OVTime.dxRtl .dxheDlgFooter,
.dxpcLite_OVTime.dxRtl .dxheCustomDialog_OVTime .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_OVTime .dxheDlgFooterBtn
{
    width: 100px;
    margin-left: 10px;
}
.dxpcLite_OVTime.dxRtl .dxheDlgFooterBtn
{
    margin-right: 10px;
    margin-left: 0;
}
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgImagePreviewCell
{
    color: #737373;
    border: dashed 1px #cac8c8;
}
.dxpcLite_OVTime .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
	border: Solid 1px #d1d1d1;
}
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgRadionButtonTable
{
    width: 360px;
}
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgFromTheWeb
{
    width: 360px;
}
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgWrapTextCell
{
    width: 180px;
}
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxheDlgCaptionCell,
.dxpcLite_OVTime .dxheDlgInsertLinkForm .dxheDlgCaptionCell,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxheDlgCaptionCell
{
    padding-top: 9px;
}
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgImagePropertiesForm .dxheDlgImagePropertiesCell .dxeTextBox_OVTime,
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgImagePropertiesForm .dxheDlgImagePropertiesCell .dxeButtonEdit_OVTime  
{ 
    width: 200px!important; 
}
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxrpControl_OVTime > tbody > tr > td > table,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxrpControl_OVTime > tbody > tr > td > table
{
    width: 480px!important;
}
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgSpinEdit,
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxheDlgSpinEdit,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxheDlgSpinEdit
{
    width: 70px!important;
}
.dxpcLite_OVTime .dxheDlgInsertImageForm .dxheDlgColorEdit,
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxheDlgColorEdit,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxheDlgColorEdit
{
    width: 140px!important;
}
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxheDlgSizeComboBox,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxheDlgSizeComboBox
{
    width: 170px!important;
}
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxheDlgSizeTypeComboBox,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxheDlgSizeTypeComboBox
{
    width: 60px!important;
}
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxheDlgAlignComboBox,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxheDlgAlignComboBox
{
    width: 100px!important;
}
.dxpcLite_OVTime .dxheDlgInsertTableForm .dxheDlgHeaderComboBox,
.dxpcLite_OVTime .dxheDlgTableColumnPropertiesForm .dxheDlgHeaderComboBox
{
    width: 120px!important;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_OVTime
{
	height: 1px;
}
.dxtbControl_OVTime 
{
	color: #2B2B2B;
	background-color: #fafafa;
    border-bottom: Solid 1px #d1d1d1;
}
.dxtbControl_OVTime td.dxmMenu_OVTime
{
	border: 0px;
}
.dxtbComboBoxMenuItem_OVTime
{
    padding: 3px 2px;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer.dxtc-strip
{
    padding-top: 4px !important;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-leftIndent
{
    width: 4px !important;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-tab,
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-activeTab,
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top.dxtc-noSpacing > .dxtc-stripContainer .dxtc-activeTab.dxtc-lead,
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-leftIndent,
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-spacer,
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-rightIndent
{
    border-bottom: 1px solid #d1d1d1!important;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-activeTab
{
    border-bottom: 1px solid transparent!important;
    border-top: 1px solid #d1d1d1!important;
}
.dxheControl_OVTime.dxhe-rtl .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-stripContainer .dxtc-activeTab.dxtc-lead
{
    border-left: 1px solid #D1D1D1 !important;
    border-right: 1px solid transparent!important;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-tab
{
    border-top: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-tab.dxr-inactiveTab,
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-activeTab.dxr-inactiveTab
{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-spacer
{
    width: 2px;
    margin-left: -1px;
}
.dxheControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > ul
{
    border: 0!important;
}
.dxheControl_OVTime .dxrControl_OVTime .dxr-minBtn
{
    margin: 1px 5px 0 0;
}
.dxheControl_OVTime .dxtbControl_OVTime.dxtbr_OVTime,
.dxheControl_OVTime .dxrControl_OVTime .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}
.dxheControl_OVTime .dxrControl_OVTime .dxr-tabContent
{
    border-width: 0 0 1px 0;
    border-color: #D1D1D1;
}

/* Toolbars Lightweight Mode */
.dxtbControl_OVTime .dxmLite_OVTime .dxm-main.dxmtb
{
	padding: 3px 2px;
    border-width: 0px;
}
.dxtbControl_OVTime .dxmLite_OVTime .dxmtb.dxm-horizontal .dxm-separator
{
	padding: 1px 3px!important;
}
.dxtbControl_OVTime .dxmLite_OVTime .dxm-horizontal.dxmtb .dxtb-comboBoxMenuItem > .dxeButtonEditSys,
.dxtbControl_OVTime .dxmLite_OVTime .dxm-horizontal.dxmtb .dxtb-comboBoxMenuItem > .dxeTextBoxSys
{
    margin: 0;
}
.dxmLite_OVTime .dxhetipControl_OVTime img
{
	vertical-align: top;
	margin-top: 3px;
}
.dxtbControl_OVTime .dxm-horizontal.dxmtb .dxm-dropDownMode .dxtcbControl_OVTime > img
{
    margin-top: -1px;
}
.dxtbControl_OVTime .dxm-horizontal.dxmtb .dxm-dropDownMode .dxtcbColorDiv_OVTime
{
    margin-top: -1px;
    margin-bottom: -2px;
}
.dxtbControl_OVTime .dxmLite_OVTime .dxm-horizontal.dxmtb .dxm-image-l .dxm-item.dxtb-cddi .dxm-content, 
.dxtbControl_OVTime .dxmLite_OVTime .dxm-horizontal.dxmtb .dxm-image-r .dxm-item.dxtb-cddi .dxm-content
{
	padding-top: 2px;
	padding-bottom: 3px;
}

/* ToolbarColorButton */
.dxtcbControl_OVTime { }
.dxtcbColorDiv_OVTime
{
	width: 16px;
	height: 4px;
	font-size: 0;
	background-color: Red;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_OVTime .dxrpcontent
{
    padding: 9px 10px 10px 10px !important;
}

.dxtcLite_OVTime.dxhe-dialogSettings
{
    width: 370px;
}

.dxhe-insertYouTubeVideoDialog .dxtcLite_OVTime.dxhe-dialogSettings,
.dxhe-insertVideoDialog .dxtcLite_OVTime.dxhe-dialogSettings,
.dxhe-insertAudioDialog .dxtcLite_OVTime.dxhe-dialogSettings 
{
    width: 400px;
}

