.dxeButtonEditButtonHover_OVTime .dxEditors_edtClear_OVTime,
.dxeButtonEditButtonHover_OVTime .dxEditors_edtDropDown_OVTime,
.dxeButtonEditButtonHover_OVTime .dxEditors_edtEllipsis_OVTime,
.dxeButtonEditButtonPressed_OVTime .dxEditors_edtDropDown_OVTime,
.dxeButtonEditButtonPressed_OVTime .dxEditors_edtEllipsis_OVTime,
.dxEditors_caRefresh_OVTime,
.dxEditors_edtCalendarFNNextYear_OVTime,
.dxEditors_edtCalendarFNPrevYear_OVTime,
.dxEditors_edtCalendarNextMonth_OVTime,
.dxEditors_edtCalendarNextMonthDisabled_OVTime,
.dxEditors_edtCalendarNextYear_OVTime,
.dxEditors_edtCalendarNextYearDisabled_OVTime,
.dxEditors_edtCalendarPrevMonth_OVTime,
.dxEditors_edtCalendarPrevMonthDisabled_OVTime,
.dxEditors_edtCalendarPrevYear_OVTime,
.dxEditors_edtCalendarPrevYearDisabled_OVTime,
.dxEditors_edtClear_OVTime,
.dxEditors_edtDETSClockFace_OVTime,
.dxEditors_edtDETSHourHand_OVTime,
.dxEditors_edtDETSMinuteHand_OVTime,
.dxEditors_edtDETSSecondHand_OVTime,
.dxEditors_edtDropDown_OVTime,
.dxEditors_edtDropDownDisabled_OVTime,
.dxEditors_edtEllipsis_OVTime,
.dxEditors_edtEllipsisDisabled_OVTime,
.dxEditors_edtError_OVTime,
.dxEditors_edtRadioButtonChecked_OVTime,
.dxEditors_edtRadioButtonCheckedDisabled_OVTime,
.dxEditors_edtRadioButtonUnchecked_OVTime,
.dxEditors_edtRadioButtonUncheckedDisabled_OVTime,
.dxEditors_edtSpinEditDecrementImage_OVTime,
.dxEditors_edtSpinEditDecrementImageDisabled_OVTime,
.dxEditors_edtSpinEditIncrementImage_OVTime,
.dxEditors_edtSpinEditIncrementImageDisabled_OVTime,
.dxEditors_edtSpinEditLargeDecImage_OVTime,
.dxEditors_edtSpinEditLargeDecImageDisabled_OVTime,
.dxEditors_edtSpinEditLargeIncImage_OVTime,
.dxEditors_edtSpinEditLargeIncImageDisabled_OVTime,
.dxEditors_edtTokenBoxTokenRemoveButton_OVTime,
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_OVTime,
.dxEditors_fcadd_OVTime,
.dxEditors_fcaddhot_OVTime,
.dxEditors_fcgroupaddcondition_OVTime,
.dxEditors_fcgroupaddgroup_OVTime,
.dxEditors_fcgroupand_OVTime,
.dxEditors_fcgroupnotand_OVTime,
.dxEditors_fcgroupnotor_OVTime,
.dxEditors_fcgroupor_OVTime,
.dxEditors_fcgroupremove_OVTime,
.dxEditors_fcopany_OVTime,
.dxEditors_fcopbegin_OVTime,
.dxEditors_fcopbetween_OVTime,
.dxEditors_fcopblank_OVTime,
.dxEditors_fcopcontain_OVTime,
.dxEditors_fcopend_OVTime,
.dxEditors_fcopequal_OVTime,
.dxEditors_fcopgreater_OVTime,
.dxEditors_fcopgreaterorequal_OVTime,
.dxEditors_fcopless_OVTime,
.dxEditors_fcoplessorequal_OVTime,
.dxEditors_fcoplike_OVTime,
.dxEditors_fcopnotany_OVTime,
.dxEditors_fcopnotbetween_OVTime,
.dxEditors_fcopnotblank_OVTime,
.dxEditors_fcopnotcontain_OVTime,
.dxEditors_fcopnotequal_OVTime,
.dxEditors_fcopnotlike_OVTime,
.dxEditors_fcremove_OVTime,
.dxEditors_fcremovehot_OVTime,
.dxeSpinDecButtonHover_OVTime .dxEditors_edtSpinEditDecrementImage_OVTime,
.dxeSpinDecButtonPressed_OVTime .dxEditors_edtSpinEditDecrementImage_OVTime,
.dxeSpinIncButtonHover_OVTime .dxEditors_edtSpinEditIncrementImage_OVTime,
.dxeSpinIncButtonPressed_OVTime .dxEditors_edtSpinEditIncrementImage_OVTime,
.dxeSpinLargeDecButtonHover_OVTime .dxEditors_edtSpinEditLargeDecImage_OVTime,
.dxeSpinLargeDecButtonPressed_OVTime .dxEditors_edtSpinEditLargeDecImage_OVTime,
.dxeSpinLargeDecButtonPressed_OVTime .dxEditors_edtSpinEditLargeIncImage_OVTime,
.dxeSpinLargeIncButtonHover_OVTime .dxEditors_edtSpinEditLargeIncImage_OVTime
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxeButtonEditButtonHover_OVTime .dxEditors_edtClear_OVTime
{
    background-position: -64px -149px;
    width: 18px;
    height: 18px;
}
.dxeButtonEditButtonHover_OVTime .dxEditors_edtDropDown_OVTime
{
    background-position: -113px -163px;
    width: 10px;
    height: 5px;
}
.dxeButtonEditButtonHover_OVTime .dxEditors_edtEllipsis_OVTime
{
    background-position: -166px -145px;
    width: 12px;
    height: 3px;
}
.dxeButtonEditButtonPressed_OVTime .dxEditors_edtDropDown_OVTime
{
    background-position: -168px -163px;
    width: 10px;
    height: 5px;
}
.dxeButtonEditButtonPressed_OVTime .dxEditors_edtEllipsis_OVTime
{
    background-position: -127px -145px;
    width: 12px;
    height: 3px;
}
.dxEditors_caRefresh_OVTime
{
    background-position: -157px -91px;
    width: 32px;
    height: 32px;
}
.dxEditors_edtCalendarFNNextYear_OVTime
{
    background-position: -168px -31px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarFNPrevYear_OVTime
{
    background-position: -24px -149px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarNextMonth_OVTime
{
    background-position: -168px 0px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarNextMonthDisabled_OVTime
{
    background-position: -168px -51px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarNextYear_OVTime
{
    background-position: -100px -124px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtCalendarNextYearDisabled_OVTime
{
    background-position: 0px -149px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtCalendarPrevMonth_OVTime
{
    background-position: -168px -71px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarPrevMonthDisabled_OVTime
{
    background-position: -44px -149px;
    width: 19px;
    height: 19px;
}
.dxEditors_edtCalendarPrevYear_OVTime
{
    background-position: -124px -124px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtCalendarPrevYearDisabled_OVTime
{
    background-position: -148px -124px;
    width: 23px;
    height: 19px;
}
.dxEditors_edtClear_OVTime
{
    background-position: -83px -149px;
    width: 18px;
    height: 18px;
}
.dxEditors_edtDETSClockFace_OVTime
{
    background-position: 0px 0px;
    width: 123px;
    height: 123px;
}
.dxEditors_edtDETSHourHand_OVTime
{
    background-position: -136px 0px;
    width: 7px;
    height: 57px;
}
.dxEditors_edtDETSHourHand_OVTime
{
    background-position: -152px 0px \9;
    width: 7px \9;
    height: 57px \9;
}
.dxEditors_edtDETSMinuteHand_OVTime
{
    background-position: -144px 0px;
    width: 7px;
    height: 57px;
}
.dxEditors_edtDETSMinuteHand_OVTime
{
    background-position: -160px 0px \9;
    width: 7px \9;
    height: 57px \9;
}
.dxEditors_edtDETSSecondHand_OVTime
{
    background-position: -124px 0px;
    width: 5px;
    height: 77px;
}
.dxEditors_edtDETSSecondHand_OVTime
{
    background-position: -130px 0px \9;
    width: 5px \9;
    height: 77px \9;
}
.dxEditors_edtDropDown_OVTime
{
    background-position: -163px -183px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtDropDownDisabled_OVTime
{
    background-position: -179px -163px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtEllipsis_OVTime
{
    background-position: -140px -145px;
    width: 12px;
    height: 3px;
}
.dxEditors_edtEllipsisDisabled_OVTime
{
    background-position: -153px -145px;
    width: 12px;
    height: 3px;
}
.dxEditors_edtError_OVTime
{
    background-position: -172px -124px;
    width: 14px;
    height: 14px;
}
.dxEditors_edtRadioButtonChecked_OVTime
{
    background-position: -50px -124px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtRadioButtonCheckedDisabled_OVTime
{
    background-position: 0px -124px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtRadioButtonUnchecked_OVTime
{
    background-position: -25px -124px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_OVTime
{
    background-position: -75px -124px;
    width: 24px;
    height: 24px;
}
.dxEditors_edtSpinEditDecrementImage_OVTime
{
    background-position: -179px -143px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditDecrementImageDisabled_OVTime
{
    background-position: -135px -163px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImage_OVTime
{
    background-position: -152px -183px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditIncrementImageDisabled_OVTime
{
    background-position: -146px -163px;
    width: 10px;
    height: 5px;
}
.dxEditors_edtSpinEditLargeDecImage_OVTime
{
    background-position: -174px -20px;
    width: 5px;
    height: 10px;
}
.dxEditors_edtSpinEditLargeDecImageDisabled_OVTime
{
    background-position: -130px -80px;
    width: 5px;
    height: 10px;
}
.dxEditors_edtSpinEditLargeIncImage_OVTime
{
    background-position: -180px -20px;
    width: 5px;
    height: 10px;
}
.dxEditors_edtSpinEditLargeIncImageDisabled_OVTime
{
    background-position: -182px -169px;
    width: 5px;
    height: 10px;
}
.dxEditors_edtTokenBoxTokenRemoveButton_OVTime
{
    background-position: -136px -61px;
    width: 29px;
    height: 29px;
}
.dxEditors_edtTokenBoxTokenRemoveButtonDisabled_OVTime
{
    background-position: -127px -94px;
    width: 29px;
    height: 29px;
}
.dxEditors_fcadd_OVTime
{
    background-position: -84px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcaddhot_OVTime
{
    background-position: -84px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddcondition_OVTime
{
    background-position: -28px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupaddgroup_OVTime
{
    background-position: 0px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupand_OVTime
{
    background-position: -154px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotand_OVTime
{
    background-position: -102px -149px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupnotor_OVTime
{
    background-position: -98px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupor_OVTime
{
    background-position: -144px -149px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcgroupremove_OVTime
{
    background-position: -126px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopany_OVTime
{
    background-position: -70px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbegin_OVTime
{
    background-position: -140px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopbetween_OVTime
{
    background-position: -98px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopblank_OVTime
{
    background-position: 0px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopcontain_OVTime
{
    background-position: -116px -149px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopend_OVTime
{
    background-position: -42px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopequal_OVTime
{
    background-position: -70px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreater_OVTime
{
    background-position: -28px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopgreaterorequal_OVTime
{
    background-position: -168px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopless_OVTime
{
    background-position: -42px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplessorequal_OVTime
{
    background-position: -172px -149px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcoplike_OVTime
{
    background-position: -126px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotany_OVTime
{
    background-position: -56px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotbetween_OVTime
{
    background-position: -56px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotblank_OVTime
{
    background-position: -14px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotcontain_OVTime
{
    background-position: -14px -183px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotequal_OVTime
{
    background-position: -158px -149px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcopnotlike_OVTime
{
    background-position: -130px -149px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremove_OVTime
{
    background-position: -112px -169px;
    width: 13px;
    height: 13px;
}
.dxEditors_fcremovehot_OVTime
{
    background-position: -112px -183px;
    width: 13px;
    height: 13px;
}
.dxeSpinDecButtonHover_OVTime .dxEditors_edtSpinEditDecrementImage_OVTime
{
    background-position: -124px -163px;
    width: 10px;
    height: 5px;
}
.dxeSpinDecButtonPressed_OVTime .dxEditors_edtSpinEditDecrementImage_OVTime
{
    background-position: -102px -163px;
    width: 10px;
    height: 5px;
}
.dxeSpinIncButtonHover_OVTime .dxEditors_edtSpinEditIncrementImage_OVTime
{
    background-position: -174px -183px;
    width: 10px;
    height: 5px;
}
.dxeSpinIncButtonPressed_OVTime .dxEditors_edtSpinEditIncrementImage_OVTime
{
    background-position: -157px -163px;
    width: 10px;
    height: 5px;
}
.dxeSpinLargeDecButtonHover_OVTime .dxEditors_edtSpinEditLargeDecImage_OVTime
{
    background-position: -124px -80px;
    width: 5px;
    height: 10px;
}
.dxeSpinLargeDecButtonPressed_OVTime .dxEditors_edtSpinEditLargeDecImage_OVTime
{
    background-position: -168px -20px;
    width: 5px;
    height: 10px;
}
.dxeSpinLargeDecButtonPressed_OVTime .dxEditors_edtSpinEditLargeIncImage_OVTime
{
    background-position: -146px -183px;
    width: 5px;
    height: 10px;
}
.dxeSpinLargeIncButtonHover_OVTime .dxEditors_edtSpinEditLargeIncImage_OVTime
{
    background-position: -140px -183px;
    width: 5px;
    height: 10px;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_OVTime,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_OVTime
{
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHPressed_OVTime,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_OVTime
{
	z-index: 7;
}
.dxEditors_edtError_OVTime,
.dxEditors_edtCalendarPrevYear_OVTime,
.dxEditors_edtCalendarPrevYearDisabled_OVTime,
.dxEditors_edtCalendarPrevMonth_OVTime,
.dxEditors_edtCalendarPrevMonthDisabled_OVTime,
.dxEditors_edtCalendarNextMonth_OVTime,
.dxEditors_edtCalendarNextMonthDisabled_OVTime,
.dxEditors_edtCalendarNextYear_OVTime,
.dxEditors_edtCalendarNextYearDisabled_OVTime,
.dxEditors_edtCalendarFNPrevYear_OVTime,
.dxEditors_edtCalendarFNNextYear_OVTime,
.dxEditors_edtEllipsis_OVTime,
.dxEditors_edtEllipsisDisabled_OVTime,
.dxEditors_edtEllipsisHover_OVTime,
.dxEditors_edtEllipsisPressed_OVTime,
.dxEditors_edtDropDown_OVTime,
.dxEditors_edtDropDownDisabled_OVTime,
.dxEditors_edtSpinEditIncrementImage_OVTime,
.dxEditors_edtSpinEditIncrementImageDisabled_OVTime,
.dxEditors_edtSpinEditDecrementImage_OVTime,
.dxEditors_edtSpinEditDecrementImageDisabled_OVTime,
.dxEditors_edtSpinEditLargeIncImage_OVTime,
.dxEditors_edtSpinEditLargeIncImageDisabled_OVTime,
.dxEditors_edtSpinEditLargeDecImage_OVTime,
.dxEditors_edtSpinEditLargeDecImageDisabled_OVTime
{
	display:block;
	margin:auto;
}
.dxEditors_edtCalendarFNPrevYear_OVTime
{
    margin-right: 8px;
}
.dxEditors_edtCalendarFNNextYear_OVTime
{
    margin-left: 8px;
}

