/* -- ValidationSummary -- */
.dxvsValidationSummary_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: Red;
}
.dxvsValidationSummary_OVTime td.dxvsRC_OVTime
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_OVTime .dxvsE_OVTime
{
}
.dxvsValidationSummary_OVTime table.dxvsHT_OVTime
{
	width: 100%;
}
.dxvsValidationSummary_OVTime td.dxvsH_OVTime
{
	padding: 2px 0;
}
.dxvsValidationSummary_OVTime a.dxvsHL_OVTime,
.dxvsValidationSummary_OVTime a.dxvsHL_OVTime:visited
{
	color: red;
}
.dxvsValidationSummary_OVTime a.dxvsHL_OVTime
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_OVTime a.dxvsHL_OVTime:hover
{
	color: #f70;
}
.dxvsValidationSummary_OVTime table.dxvsT_OVTime
{
}
.dxvsValidationSummary_OVTime tr.dxvsE_OVTime
{
}
.dxvsValidationSummary_OVTime td.dxvsETC_OVTime
{
	padding: 2px 0;
}
.dxvsValidationSummary_OVTime ul.dxvsL_OVTime
{
}
.dxvsValidationSummary_OVTime ol.dxvsL_OVTime
{
}
.dxvsValidationSummary_OVTime li.dxvsE_OVTime
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_OVTime
{
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility:hidden;
}

.dxeDisabled_OVTime .dxeTBHSys a,
.dxeDisabled_OVTime .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_OVTime
{
	font-size: 0;
}

.dxeTBScale_OVTime,
.dxeTBTrack_OVTime,
.dxeTBBarHighlight_OVTime
{
	cursor: pointer;
}

.dxeTBScale_OVTime
{
	z-index: 1;
}
.dxeTBSecondaryDH_OVTime,
.dxeTBMainDH_OVTime
{
	z-index: 4;
}

.dxeTrackBar_OVTime.dxeTBHSys
{
	width: 170px;
	height: 53px;
}
.dxeTrackBar_OVTime.dxeTBVSys
{
	height: 170px;
	width: 53px;
}
.dxeTrackBar_OVTime.dxeTBBScaleSys.dxeTBVSys
{
	width: 76px;
}
.dxeTrackBar_OVTime.dxeTBBScaleSys.dxeTBHSys
{	
	height: 76px;
}

.dxeTBTrack_OVTime
{
	z-index: 2;
	position: absolute;
}

.dxeTBTrack_OVTime, .dxeTBBarHighlight_OVTime 
{
	border-style: solid;
	border-color: #d1d1d1;
}

.dxeTBHSys .dxeTBTrack_OVTime, .dxeTBHSys .dxeTBBarHighlight_OVTime 
{
	border-width: 0px 1px 0px 1px;
}
.dxeTBVSys .dxeTBTrack_OVTime, .dxeTBVSys .dxeTBBarHighlight_OVTime 
{
	border-width: 1px 0px 1px 0px;
}

.dxeTBHSys .dxeTBTrack_OVTime,
.dxeTBVSys .dxeTBTrack_OVTime
{
	background: #F6F6F6;
	border: 1px solid #D1D1D1;
}

.dxeTBHSys .dxeTBTrack_OVTime, 
.dxeTBHSys .dxeTBBarHighlight_OVTime
{
	height: 3px;
}
.dxeTBVSys .dxeTBTrack_OVTime, 
.dxeTBVSys .dxeTBBarHighlight_OVTime
{
	width: 3px;
}

.dxeTBHSys .dxeTBMainDH_OVTime,
.dxeTBHSys .dxeTBSecondaryDH_OVTime,
.dxeTBVSys .dxeTBMainDH_OVTime,
.dxeTBVSys .dxeTBSecondaryDH_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime
{
	top: -8px;
	width: 18px;
	height: 18px;
	border-radius: 12px;
	border: 1px solid #D1D1D1;
	background: #E6E6E6;
	-webkit-border-radius: 11px;
}
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime
{
    border: 1px solid #0a67a8;

	box-shadow: 0px 0px 2px 0px rgba(10,103,168,1);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(10,103,168,1);
}
.dxeTBHSys .dxeTBMainDH_OVTime,
.dxeTBHSys .dxeTBSecondaryDH_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime
{
	top: -8px;
}
.dxeTBVSys .dxeTBMainDH_OVTime,
.dxeTBVSys .dxeTBSecondaryDH_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime
{
	left: -8px;
}
.dxeTBHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHHover_OVTime,
.dxeTBHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHHover_OVTime,
.dxeTBVSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHHover_OVTime,
.dxeTBVSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHHover_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHHover_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHHover_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHHover_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHHover_OVTime
{
	background: #1d85cd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFEODVDRCIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDg2Q0IzIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: -ms-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -moz-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -o-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -webkit-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: linear-gradient(to bottom, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	border: 1px Solid #0a67a8;
}
.dxeTBHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHPressed_OVTime,
.dxeTBHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHPressed_OVTime,
.dxeTBVSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHPressed_OVTime,
.dxeTBVSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHPressed_OVTime
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHPressed_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHPressed_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHPressed_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHPressed_OVTime
{
	border: 1px Solid #d1d1d1;
	background: #dcdcdc;
}
.dxeTBHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHDisabled_OVTime,
.dxeTBHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHDisabled_OVTime,
.dxeTBVSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHDisabled_OVTime,
.dxeTBVSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHDisabled_OVTime
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHDisabled_OVTime,
.dxeFocused_OVTime .dxeTBHSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHDisabled_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedMDHSys .dxeTBMainDH_OVTime.dxEditors_edtTBMainDHDisabled_OVTime,
.dxeFocused_OVTime .dxeTBVSys .dxeFocusedSDHSys .dxeTBSecondaryDH_OVTime.dxEditors_edtTBSecondaryDHDisabled_OVTime
{
	opacity: 0.5;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_OVTime,
.dxeTBVSys .dxeTBTrack_OVTime
{
	left: 50%;
	margin-left: -3px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_OVTime
{
	right: 12px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_OVTime
{
	bottom: 12px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_OVTime,
.dxeTBHSys .dxeTBTrack_OVTime
{
	top: 50%;
	margin-top: -3px
}

.dxeTBBarHighlight_OVTime
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_OVTime
{
	background: #1279c0;
	border: 1px solid #1279c0;
	margin: -1px 0;
}
.dxeTBVSys .dxeTBBarHighlight_OVTime
{
	background: #1279c0;
	border: 1px solid #1279c0;
	margin: 0 -1px;
}

.dxeTBRBLabel_OVTime,
.dxeTBLTLabel_OVTime
{
	font-size: 0.79em;
	color: #9f9f9f;
	text-align: center;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_OVTime,
.dxeTBSmallTickSys .dxeTBLTLabel_OVTime,
.dxeTBLargeTickSys .dxeTBRBLabel_OVTime,
.dxeTBLargeTickSys .dxeTBLTLabel_OVTime
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_OVTime,
.dxeTBHSys .dxeTBLTLabel_OVTime
{
	width: 100%;
}

.dxeTBIncBtn_OVTime,
.dxeTBDecBtn_OVTime
{
	width: 27px;
	height: 27px;
	border-radius: 15px;
	border: 1px solid #D1D1D1;
	background-color: #E6E6E6;
	-webkit-border-radius: 16px;

	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.35), 0px 1px 0px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.35), 0px 1px 0px 0px rgba(0,0,0,0.05);
}
.dxeTBIncBtn_OVTime
{
	background-image: url('edtTBIncBtn.png');
}
.dxeTBDecBtn_OVTime
{
	background-image: url('edtTBDecBtn.png');
}
.dxeTBIncBtn_OVTime.dxEditors_edtTBIncBtnHover_OVTime,
.dxeTBDecBtn_OVTime.dxEditors_edtTBDecBtnHover_OVTime
{
	border: 1px Solid #0a67a8;
}
.dxeTBIncBtn_OVTime.dxEditors_edtTBIncBtnHover_OVTime
{
	background: #1d85cd url('edtTBIncBtnHover.png');
	background: url('edtTBIncBtnHover.png'), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFEODVDRCIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDg2Q0IzIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: url('edtTBIncBtnHover.png'), -ms-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBIncBtnHover.png'), -moz-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBIncBtnHover.png'), -o-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBIncBtnHover.png'), -webkit-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBIncBtnHover.png'), linear-gradient(to bottom, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
}
.dxeTBDecBtn_OVTime.dxEditors_edtTBDecBtnHover_OVTime
{
	background: #1d85cd url('edtTBDecBtnHover.png');
	background: url('edtTBDecBtnHover.png'), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFEODVDRCIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDg2Q0IzIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: url('edtTBDecBtnHover.png'), -ms-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBDecBtnHover.png'), -moz-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBDecBtnHover.png'), -o-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBDecBtnHover.png'), -webkit-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: url('edtTBDecBtnHover.png'), linear-gradient(to bottom, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
}
.dxeTBIncBtn_OVTime.dxEditors_edtTBIncBtnPressed_OVTime,
.dxeTBDecBtn_OVTime.dxEditors_edtTBDecBtnPressed_OVTime
{
	border: 1px Solid #d1d1d1;
	background-color: #dcdcdc;

	box-shadow: none;
	-webkit-box-shadow: none;
}
.dxeTBIncBtn_OVTime.dxEditors_edtTBIncBtnPressed_OVTime
{
	background-image: url('edtTBIncBtnPressed.png');
}
.dxeTBDecBtn_OVTime.dxEditors_edtTBDecBtnPressed_OVTime
{
	background-image: url('edtTBDecBtnPressed.png');
}
.dxeTBIncBtn_OVTime.dxEditors_edtTBIncBtnDisabled_OVTime
{
	background-image: url('edtTBIncBtnDisabled.png');
}
.dxeTBDecBtn_OVTime.dxEditors_edtTBDecBtnDisabled_OVTime
{
	background-image: url('edtTBDecBtnDisabled.png');
}

.dxeTBVSys .dxeTBRBLabel_OVTime,
.dxeTBVSys .dxeTBLTLabel_OVTime
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_OVTime
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_OVTime,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_OVTime
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_OVTime,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_OVTime
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_OVTime,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_OVTime
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_OVTime,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_OVTime
{
	top: 0px;
}

.dxeTBHSys .dxeTBItem_OVTime .dxeTBRBLabel_OVTime,
.dxeTBHSys .dxeTBItem_OVTime .dxeTBLTLabel_OVTime
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_OVTime .dxeTBRBLabel_OVTime
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_OVTime .dxeTBLTLabel_OVTime
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_OVTime .dxeTBRBLabel_OVTime 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_OVTime .dxeTBRBLabel_OVTime,
.dxeTBSelectedItem_OVTime .dxeTBLTLabel_OVTime,
.dxeTBSelectedTick_OVTime .dxeTBRBLabel_OVTime,
.dxeTBSelectedTick_OVTime .dxeTBLTLabel_OVTime
{
	color: #045cad;
}
.dxeDisabled_OVTime .dxeTBSelectedItem_OVTime .dxeTBRBLabel_OVTime,
.dxeDisabled_OVTime .dxeTBSelectedItem_OVTime .dxeTBLTLabel_OVTime,
.dxeDisabled_OVTime .dxeTBSelectedTick_OVTime .dxeTBRBLabel_OVTime,
.dxeDisabled_OVTime .dxeTBSelectedTick_OVTime .dxeTBLTLabel_OVTime 
{
	color: #FFDEB4;
}

.dxeDisabled_OVTime .dxeTBRBLabel_OVTime,
.dxeDisabled_OVTime .dxeTBLTLabel_OVTime,
.dxeDisabled_OVTime .dxeTBItem_OVTime
{
	color: #D1DFF3;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_OVTime
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_OVTime
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_OVTime
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_OVTime
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_OVTime
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_OVTime 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_OVTime
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_OVTime
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_OVTime
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_OVTime
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_OVTime
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_OVTime
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_OVTime
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_OVTime
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_OVTime
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_OVTime,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_OVTime
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_OVTime,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_OVTime
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_OVTime, 
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_OVTime
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_OVTime,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_OVTime
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_OVTime,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_OVTime
{
	margin-left: -15px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_OVTime,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_OVTime
{
	margin-top: -15px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_OVTime
{ 
	margin-left: -3px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_OVTime
{ 
	margin-top: -3px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_OVTime,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_OVTime
{
	right: 0px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_OVTime,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_OVTime
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_OVTime,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_OVTime,
.dxeTBVSys .dxeTBDecBtn_OVTime,
.dxeTBVSys .dxeTBIncBtn_OVTime
{
	left: 12px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_OVTime,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_OVTime,
.dxeTBHSys .dxeTBDecBtn_OVTime,
.dxeTBHSys .dxeTBIncBtn_OVTime
{
	top: 12px;
}

.dxeHelpText_OVTime,
.dxeTBValueToolTip_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}
div.dxeHelpText_OVTime,
.dxeTBValueToolTip_OVTime
{
	display: inline;
	position: absolute;
	z-index: 41998;
	padding: 3px 8px 4px;
	color: #2B2B2B;
	background: #E6E6E6;
	border: 1px solid #D1D1D1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	
	box-shadow: 0 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.1);
}
td.dxeHelpText_OVTime {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_OVTime label {
    font-size: 0.91em;
}
td.dxeHelpText_OVTime.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_OVTime.dxeVHelpTextSys {
    padding: 2px 0;
}

/* InternalCheckBox */
.dxeIRBFocused_OVTime
{
    outline: 1px dotted #d1d1d1;
}
.dxIE.dxBrowserVersion-7 .dxeIRBFocused_OVTime {
	border: 1px dotted #d1d1d1;
	margin: 0;
}
.dxeIRadioButton_OVTime
{
}
.dxeBase_OVTime .dxichCellSys,
.dxeBase_OVTime.dxichCellSys
{
    padding: 6px 3px 4px;
}
span.dxeBase_OVTime.dxichCellSys.dxeTAR label,
span[dir='rtl'].dxeBase_OVTime.dxichCellSys.dxeTAL label
{
    padding: 1px 0 2px 7px;
}
span.dxeBase_OVTime.dxichCellSys.dxeTAL label,
span[dir='rtl'].dxeBase_OVTime.dxichCellSys.dxeTAR label
{
    padding: 1px 7px 2px 0;
}
.dxeTAR.dxeBase_OVTime .dxichTextCellSys,
.dxeTAL.dxeBase_OVTime[dir='rtl'] .dxichTextCellSys
{
    padding: 5px 0 4px 4px;
}
.dxeTAL.dxeBase_OVTime .dxichTextCellSys,
.dxeTAR.dxeBase_OVTime[dir='rtl'] .dxichTextCellSys
{
    padding: 5px 4px 4px 0;
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_OVTime
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_OVTime
{
    background-color: transparent!important;
	border: none!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
    padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_OVTime td.dx > img
{
	height: 15px;
    width: auto;
    margin-bottom: 0px!important;
    vertical-align: middle;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_OVTime td.dx > span
{
	display: none;
}

.dxeBase_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
}
/* -- ErrorFrame -- */
.dxeErrorCell_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: Red;
    border-color: black;
	padding-left: 8px;
	padding-right: 8px;
}
.dxeErrorCell_OVTime img
{
    margin-right: 8px;
}
*[dir='rtl'] .dxeErrorCell_OVTime img
{
    margin-right: 0;
    margin-left: 8px;
}
.dxeErrorFrame_OVTime
{
}
.dxeErrorFrameWithoutError_OVTime
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_OVTime .dxeControlsCell_OVTime,
.dxeErrorFrameWithoutError_OVTime.dxeControlsCell_OVTime
{
	padding: 2px;
}
.dxeEditArea_OVTime,
body input.dxeEditArea_OVTime /*Bootstrap correction*/
{
	color: #2B2B2B;
}
input[type="text"].dxeEditArea_OVTime, /*Bootstrap correction*/
input[type="password"].dxeEditArea_OVTime /*Bootstrap correction*/
{
    margin-top: 2px;
    margin-bottom: 1px;
}
.dxFirefox input[type="text"].dxeEditArea_OVTime,
.dxFirefox input[type="password"].dxeEditArea_OVTime
{
    margin-top: 1px;
	margin-bottom: 1px;
}

/* -- Buttons -- */
.dxeButtonEditButton_OVTime,
.dxeCalendarButton_OVTime,
.dxeSpinIncButton_OVTime,
.dxeSpinDecButton_OVTime,
.dxeSpinLargeIncButton_OVTime,
.dxeSpinLargeDecButton_OVTime,
.dxeColorEditButton_OVTime
{
	vertical-align: Middle;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: 1px solid transparent;
} 
.dxeButtonEditButton_OVTime
{
	padding: 6px 10px;
}
.dxeSpinLargeIncButton_OVTime,
.dxeSpinLargeDecButton_OVTime
{
	padding: 10px 14px;
}
.dxeSpinIncButton_OVTime,
.dxeSpinDecButton_OVTime
{
	padding: 5px 11px 5px;
}
.dxeCalendarButton_OVTime
{
    display: block;
    float: left;
}
.dxeCalendarButton_OVTime,
.dxeColorEditButton_OVTime
{
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	background: #eaeaea;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI0VBRUFFQSIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjREZERkRGIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -o-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	-webkit-border-radius: 4px;

	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35), 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35), 0px 1px 3px 0px rgba(0,0,0,0.1);

	cursor: pointer;
	vertical-align: middle;
	padding: 6px 15px 7px;
	min-width: 44px;
}

.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover
{
    background: none;
    border-width: 0;
    padding: 4px 3px 3px 3px; 
}

.dxChrome .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxChrome .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover
{
    padding-bottom: 0;
    padding-top: 3px;
}

td:last-of-type.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
td:last-of-type.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover
{
    padding-left: 10px;
    padding-right: 10px;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_OVTime,
.dxeColorEditButton_OVTime:active
{
	border: 1px solid #cccccc;
	background: #dcdcdc;
	color: #a7a7a7;
}
.dxeButtonEditButtonPressed_OVTime,
.dxeSpinIncButtonPressed_OVTime,
.dxeSpinDecButtonPressed_OVTime,
.dxeSpinLargeIncButtonPressed_OVTime, 
.dxeSpinLargeDecButtonPressed_OVTime
{
	border: 1px Solid #d1d1d1;
	background: Gainsboro;

	box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05);
}
/* -- Hover -- */
.dxeButtonEditButtonHover_OVTime,
.dxeSpinIncButtonHover_OVTime,
.dxeSpinDecButtonHover_OVTime,
.dxeSpinLargeIncButtonHover_OVTime,
.dxeSpinLargeDecButtonHover_OVTime
{
    color: White;
	background: #1d85cd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFEODVDRCIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDg2Q0IzIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: -ms-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -moz-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -o-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -webkit-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: linear-gradient(to bottom, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	border: 1px Solid #0a67a8;

	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35);
}
.dxeCalendarButtonHover_OVTime,
.dxeColorEditButton_OVTime:hover
{
	border: 1px solid #0a67a8;
	background: #1d85cd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFEODVDRCIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDg2Q0IzIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: -ms-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -moz-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -o-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -webkit-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: linear-gradient(to bottom, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	color: white;
}

.dxeButtonEdit_OVTime
{
	background-color: #fafafa;
	border: 1px Solid #d1d1d1;
	border-collapse: separate;
	border-spacing: 0px;

	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);

	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}
/*SharePoint 2013 Support*/
.dxeButtonEditSys.dxeButtonEdit_OVTime
{
	border-collapse: separate;
}
.dxeButtonEdit_OVTime td.dxic 
{
	padding: 6px 2px 6px 7px!important;
}
.dxeButtonEdit_OVTime .dxeEditArea_OVTime
{
	background-color: #fafafa;
}
.dxeButtonEdit_OVTime .dxeIIC img
{
	padding-left: 3px;
}
.dxeTextBox_OVTime
{
	background-color: #fafafa;
	border: 1px Solid #d1d1d1;
	
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;

	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
}
.dxeTextBox_OVTime td.dxic, .dxucTextBox_OVTime
{
	padding: 6px 2px 6px 7px!important;
}
.dxIE.dxBrowserVersion-7 .dxeTextBox_OVTime td.dxic, .dxIE.dxBrowserVersion-7 .dxucTextBox_OVTime
{
	padding: 7px 2px 7px 7px!important;
}
.dxeTextBox_OVTime .dxeEditArea_OVTime
{
	background-color: #fafafa;
}
.dxeRadioButtonList_OVTime,
.dxeCheckBoxList_OVTime
{
	font: 14px 'Helvetica Neue', 'Segoe UI', 'Droid Sans', Arial, Tahoma, Geneva, Sans-serif;
	color: #2B2B2B;
}

.dxeCheckBoxList_OVTime .dxe > table,
.dxeRadioButtonList_OVTime .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_OVTime,
.dxeCheckBoxList_OVTime
{
	border: 1px Solid #d1d1d1;
}
.dxeRadioButtonList_OVTime td.dxe,
.dxeCheckBoxList_OVTime td.dxe
{
	padding: 9px 6px 8px 12px;
}
.dxeRadioButtonList_OVTime[dir='rtl'] td.dxe,
.dxeCheckBoxList_OVTime[dir='rtl'] td.dxe
{
	padding: 9px 12px 8px 6px;
}

/* -- Memo -- */
.dxeMemo_OVTime
{
	background-color: #fafafa;
	border: 1px Solid #d1d1d1;
	
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;

	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
}
.dxeMemoEditArea_OVTime
{
	background-color: #fafafa;
	outline: none;
}

/* -- Hyperlink -- */
.dxeHyperlink_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #045cad;
	text-decoration: underline;
}
a:hover.dxeHyperlink_OVTime
{
	color: #2B2B2B;
	text-decoration: underline;
}
a:visited.dxeHyperlink_OVTime
{
	color: #A1A1A1;
	text-decoration: underline;
}
/* -- ListBox -- */
.dxeListBox_OVTime
{
	background-color: #fafafa;
	border: 1px Solid #d1d1d1;
	font: 14px 'Helvetica Neue', 'Segoe UI', 'Droid Sans', Arial, Tahoma, Geneva, Sans-serif;
	height: 113px;
	width: 70px;
	color: #2b2b2b;
}
.dxeListBox_OVTime div.dxlbd
{
	padding-top: 1px;
	height: 112px;
}
.dxeListBoxItemRow_OVTime
{
	cursor: default;
}
.dxeListBoxItem_OVTime
{
	border-left: 1px Solid #fafafa;
	border-right: 1px Solid #fafafa;
	padding: 8px 6px 8px 8px;
	white-space: nowrap;
	text-align: left;
}
.dxeListBoxItem_OVTime em
{
	background: #FFE7A2 none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}
.dxeListBox_OVTime td.dxeI,
.dxeListBox_OVTime td.dxeIM,
.dxeListBox_OVTime .dxeHIC,
.dxeListBox_OVTime td.dxeFTM,
.dxeListBox_OVTime td.dxeTM,
.dxeListBox_OVTime td.dxeC,
.dxeListBox_OVTime td.dxeCM,
.dxeListBox_OVTime td.dxeHCC,
.dxeListBox_OVTime td.dxeMI,
.dxeListBox_OVTime td.dxeMIM
{
	border-right-width: 0!important;
}
.dxeListBox_OVTime td.dxeIR,
.dxeListBox_OVTime td.dxeIMR,
.dxeListBox_OVTime .dxeHICR,
.dxeListBox_OVTime td.dxeFTMR,
.dxeListBox_OVTime td.dxeTMR,
.dxeListBox_OVTime td.dxeCR,
.dxeListBox_OVTime td.dxeCMR,
.dxeListBox_OVTime td.dxeHCCR,
.dxeListBox_OVTime td.dxeMIR,
.dxeListBox_OVTime td.dxeMIMR
{
	border-left-width: 0!important;
}
.dxeListBox_OVTime td.dxeCM,
.dxeListBox_OVTime td.dxeHCC,
.dxeListBox_OVTime td.dxeCMR,
.dxeListBox_OVTime td.dxeHCCR
{
	width: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dxIE.dxBrowserVersion-7 .dxeListBox_OVTime td.dxeCM,
.dxIE.dxBrowserVersion-7 .dxeListBox_OVTime td.dxeHCC,
.dxIE.dxBrowserVersion-7 .dxeListBox_OVTime td.dxeCMR,
.dxIE.dxBrowserVersion-7 .dxeListBox_OVTime td.dxeHCCR
{
	width: 43px;
}

.dxeListBox_OVTime td.dxeIM,
.dxeListBox_OVTime td.dxeIMR
{
	width: 0;
}
.dxeListBox_OVTime td.dxeC
{
	padding-right: 8px!important;
}
.dxeListBox_OVTime td.dxeCR
{
	padding-left: 3px!important;
}
.dxeListBox_OVTime td.dxeC > span,
.dxeListBox_OVTime td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_OVTime td.dxeCR > span,
.dxeListBox_OVTime td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_OVTime td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}
.dxeListBox_OVTime td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}
.dxeListBox_OVTime td.dxeT,
.dxeListBox_OVTime td.dxeMI
{
	border-left-width: 0!important;
}
.dxeListBox_OVTime td.dxeTR,
.dxeListBox_OVTime td.dxeMIR
{
	border-right-width: 0!important;
}
.dxeListBox_OVTime td.dxeFTM,
.dxeListBox_OVTime td.dxeTM,
.dxeListBox_OVTime td.dxeLTM,
.dxeListBox_OVTime .dxeHFC,
.dxeListBox_OVTime .dxeHC,
.dxeListBox_OVTime .dxeHLC,
.dxeListBox_OVTime td.dxeFTMR,
.dxeListBox_OVTime td.dxeTMR,
.dxeListBox_OVTime td.dxeLTMR,
.dxeListBox_OVTime .dxeHFCR,
.dxeListBox_OVTime .dxeHCR,
.dxeListBox_OVTime .dxeHLCR
{
	overflow: hidden;
}
.dxeListBox_OVTime td.dxeFTM,
.dxeListBox_OVTime td.dxeTM,
.dxeListBox_OVTime .dxeHFC,
.dxeListBox_OVTime .dxeHC
{
	padding-right: 6px!important;
}
.dxeListBox_OVTime td.dxeFTMR,
.dxeListBox_OVTime td.dxeTMR,
.dxeListBox_OVTime .dxeHFCR,
.dxeListBox_OVTime .dxeHCR
{
	padding-left: 6px!important;
}
.dxeListBox_OVTime td.dxeLTM,
.dxeListBox_OVTime td.dxeTM, 
.dxeListBox_OVTime .dxeHC,
.dxeListBox_OVTime .dxeHLC
{
	padding-left: 6px!important;
}
.dxeListBox_OVTime td.dxeLTMR,
.dxeListBox_OVTime td.dxeTMR, 
.dxeListBox_OVTime .dxeHCR,
.dxeListBox_OVTime .dxeHLCR
{
	padding-right: 6px!important;
}
/*Grid lines*/
.dxeListBox_OVTime td.dxeTM,
.dxeListBox_OVTime td.dxeLTM,
.dxeListBox_OVTime td.dxeMIM
{
	border-left: 1px solid #d1d1d1!important;
}
.dxeListBox_OVTime td.dxeTMR,
.dxeListBox_OVTime td.dxeLTMR,
.dxeListBox_OVTime td.dxeMIMR
{
	border-right: 1px solid #d1d1d1!important;
}
.dxeListBox_OVTime td.dxeIM,
.dxeListBox_OVTime td.dxeFTM,
.dxeListBox_OVTime td.dxeTM,
.dxeListBox_OVTime td.dxeLTM,
.dxeListBox_OVTime td.dxeCM,
.dxeListBox_OVTime td.dxeMIM,
.dxeListBox_OVTime td.dxeIMR,
.dxeListBox_OVTime td.dxeFTMR,
.dxeListBox_OVTime td.dxeTMR,
.dxeListBox_OVTime td.dxeLTMR,
.dxeListBox_OVTime td.dxeCMR,
.dxeListBox_OVTime td.dxeMIMR
{
	border-bottom: 1px solid #d1d1d1;
}

.dxeListBoxItemSelected_OVTime     
{
	background-color: #dcdcdc;
}
.dxeListBoxItemHover_OVTime        
{
	background-color: #1279c0;
	color: white;
}
.dxeListBoxItemSelected_OVTime em,
.dxeListBoxItemHover_OVTime em
{
	background-image: none;
}

/*Header*/
.dxeListBox_OVTime .dxeHD
{
	background: #fafafa;
	border-bottom: 1px solid #d1d1d1;
}
.dxeListBox_OVTime .dxeHFC,
.dxeListBox_OVTime .dxeHIC,
.dxeListBox_OVTime .dxeHC,
.dxeListBox_OVTime .dxeHLC, 
.dxeListBox_OVTime td.dxeHMIC,
.dxeListBox_OVTime .dxeHFCR,
.dxeListBox_OVTime .dxeHICR,
.dxeListBox_OVTime .dxeHCR,
.dxeListBox_OVTime .dxeHLCR, 
.dxeListBox_OVTime td.dxeHMICR
{
	color: #283B56;
	border-bottom-width: 0;
	padding-top: 9px;
	padding-bottom: 8px;
}
.dxeListBox_OVTime .dxeHC,
.dxeListBox_OVTime .dxeHLC,
.dxeListBox_OVTime td.dxeHMIC
{
	border-left: 1px solid #d1d1d1;
}
.dxeListBox_OVTime .dxeHCR,
.dxeListBox_OVTime .dxeHLCR,
.dxeListBox_OVTime td.dxeHMICR
{
	border-right: 1px solid #d1d1d1;
	text-align: right;
}
.dxeListBox_OVTime .dxeHIC
{
	border-left: 1px solid #d1d1d1;
}
.dxeListBox_OVTime .dxeHICR,
.dxeListBox_OVTime .dxeHFCR,
.dxeListBox_OVTime .dxeHCCR
{
	border-right: 1px solid #d1d1d1;
	text-align: right;
}
.dxeListBox_OVTime .dxeHFC,
.dxeListBox_OVTime .dxeHC,
.dxeListBox_OVTime .dxeHMIC
{
	border-right-width: 0;
}
.dxeListBox_OVTime .dxeHFCR,
.dxeListBox_OVTime .dxeHCR,
.dxeListBox_OVTime .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}
.dxeListBox_OVTime .dxeHLC
{
	border-right: 1px solid #d1d1d1;
}
.dxeListBox_OVTime .dxeHLCR
{
	border-left: 1px solid #d1d1d1;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	border: 1px solid #d1d1d1;
	background-color: #FFFFFF;
	font-weight: normal;
}
.dxeCalendar_OVTime td.dxMonthGrid
{
	padding: 3px 22px 6px 21px;
	cursor: default;
	background-color: #FFFFFF;
}
.dxeCalendar_OVTime td.dxMonthGridWithWeekNumbers
{
	padding: 3px 19px 6px 7px;
	cursor: default;
}
.dxeCalendar_OVTime td.dxMonthGridWithWeekNumbersRtl
{
	padding: 3px 7px 6px 19px;
	cursor: default;
	background-color: #FFFFFF;
}
.dxeCalendarDayHeader_OVTime
{
	color: #045cad;
	padding: 3px 5px 6px 6px;
}
.dxeCalendarWeekNumber_OVTime
{
	font-size: 0.79em;
	text-align: right;
	padding: 3px 3px 2px 4px;
	color: #2b2b2b;
}
.dxeCalendarDay_OVTime
{
	text-align: center;
	padding: 2px 11px 3px;
}
.dxeCalendarWeekend_OVTime        
{
	color: #c00000;
}
.dxeCalendarOtherMonth_OVTime     
{
	color: #959595;
}
.dxeCalendarOutOfRange_OVTime     
{
	color: #d0d0d0;
}
.dxeCalendarDayDisabled_OVTime {
	background-color: #fcfcfc;
	color: #ececec!important;
}
.dxeCalendarToday_OVTime         
{
	border: 1px solid #1279c0;
    padding: 1px 10px 2px;
}
.dxeCalendarSelected_OVTime       
{
	background-color: #dcdcdc;
    color: #2B2B2B;
}
.dxeDayInRange.dxeCalendarSelected_OVTime
{
    background-color: #f4f4f4;
}
.dxeCalendarHeader_OVTime
{
	background: #fafafa;
	border-bottom: 1px solid #d1d1d1;
	padding: 10px 6px;
	margin: 10px;
}
.dxeCalendarHeader_OVTime td.dxe
{
	color: #045cad;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_OVTime .dxeCHS
{
    min-width: 1px;
}
.dxIE.dxBrowserVersion-7 .dxeCalendarHeader_OVTime .dxeCHS
{
	width: 1px;
}
.dxeCalendarFooter_OVTime
{
	background: #fafafa;
	border-top: 1px solid #d1d1d1;

	padding: 10px 0px;
}
.dxeCalendarFooter_OVTime .dxeCFS
{
    min-width: 10px;
}
.dxIE.dxBrowserVersion-7 .dxeCalendarFooter_OVTime .dxeCFS
{
	width: 10px;
}
.dxeCalendarFastNav_OVTime
{
	color: #2B2B2B;
	background: White;
	border: 1px Solid #d1d1d1;
	border-bottom: 0px Solid #d1d1d1;
	padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_OVTime
{
	padding: 0px 12px;
}
.dxeCalendarFastNavYearArea_OVTime
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_OVTime
{
	border: 1px Solid #d1d1d1;
	background: White;
	padding: 8px 0px;
}
.dxeCalendarFastNavFooter_OVTime .dxeCFNFS
{
    min-width: 10px;
}
.dxIE.dxBrowserVersion-7 .dxeCalendarFastNavFooter_OVTime .dxeCFNFS
{
	width: 10px;
}

.dxeCalendarFastNavMonth_OVTime,
.dxeCalendarFastNavYear_OVTime
{
	padding: 3px 4px 4px;
	text-align: center;
	cursor: pointer;
	border: 1px Solid White;
}
.dxeCalendarFastNavMonthSelected_OVTime,
.dxeCalendarFastNavYearSelected_OVTime
{
	background-color: #dcdcdc;
}

.dxeCalendarFastNavMonthHover_OVTime,
.dxeCalendarFastNavYearHover_OVTime
{
	color: white;
	background: #1279c0;
}
.dxeDateEditTimeEditCell_OVTime
{
    background-color: #FFFFFF;
    padding: 4px 32px 14px;
    width: 120px;
}
.dxeDateEditClockCell_OVTime
{
    background-color: #FFFFFF;
    padding: 9px 37px 0;
}
.dxeCalendarFooter_OVTime.dxeDETSF
{
    padding-left: 11px;
    padding-right: 11px;
}
/* Disabled */
.dxeDisabled_OVTime,
.dxeDisabled_OVTime td.dxe
{
	color: #9f9f9f;
	cursor: default;
}
.dxeEditArea_OVTime.dxeDisabled_OVTime
{
	color: #9f9f9f;
}
a.dxeDisabled_OVTime, a.dxeDisabled_OVTime:hover
{
	color: #A6A6A6;
}
.dxeButtonDisabled_OVTime
{
	cursor: default;
}
/* -- Button -- */
.dxbButton_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	
	border: 1px solid #c3c3c3;
	padding: 4px 22px;
	background: #eaeaea;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI0VBRUFFQSIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjREZERkRGIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -o-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	
	border-radius: 4px;
	-webkit-border-radius: 4px;

	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35), 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35), 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxIE.dxBrowserVersion-7 .dxbButton_OVTime, 
.dxIE.dxBrowserVersion-8 .dxbButton_OVTime 
{
    background: #eaeaea;
}
.dxbButtonHover_OVTime
{
	border: 1px Solid #0a67a8;
	color: white;
	background: #1279C0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPg0KICA8bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+DQogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFEODVDRCIgc3RvcC1vcGFjaXR5PSIxIi8+DQogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDg2Q0IzIiBzdG9wLW9wYWNpdHk9IjEiLz4NCiAgPC9saW5lYXJHcmFkaWVudD4NCiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4NCjwvc3ZnPg0K);
	background: -ms-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -moz-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -o-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: -webkit-linear-gradient(top, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);
	background: linear-gradient(to bottom, rgba(29,133,205,1) 0%, rgba(8,108,179,1) 100%);

	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.15), 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.15), 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxIE.dxBrowserVersion-7 .dxbButtonHover_OVTime, 
.dxIE.dxBrowserVersion-8 .dxbButtonHover_OVTime
{
    background: #1d85cd;
}
.dxbButtonChecked_OVTime
{
	color: #2B2B2B!important;
	background: #dcdcdc;
	border: 1px solid #cccccc;

	box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05);
}
.dxbButtonPressed_OVTime
{
	color: #a7a7a7;
	background: #dcdcdc;
	border: 1px solid #cccccc;

	box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.05);
}
.dxbButton_OVTime div.dxb
{
	padding: 1px 4px 2px;
	border: 1px dotted transparent;
}
.dxbButton_OVTime div.dxbf
{
	border: 1px dotted #2C4D79;
}
/* Button Link */
a.dxbButton_OVTime
{
    border-radius: 0;
    box-shadow: none;

    color: #045cad;
    text-decoration: underline;
}
a.dxbButton_OVTime:hover
{
	color: #2B2B2B;
}
a.dxbButton_OVTime:visited
{
	color: #A1A1A1;
}
/* Disabled */
.dxbDisabled_OVTime
{
	background: #e7e7e7;
	border-color: #d3d3d3;
}
.dxbDisabled_OVTime,
a.dxbButton_OVTime.dxbDisabled_OVTime
{
	color: #C3C3C3;
	cursor: default;
    text-decoration: none;
}
/* -- FilterControl -- */
.dxfcControl_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	padding: 0 1em;
}
.dxfcTable_OVTime
{
	border-collapse: separate!important;
}
.dxfcTable_OVTime td.dxfc
{
    line-height: 36px;
	padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_OVTime
{
	white-space: nowrap!important;
	padding: 2px 4px!important;
	color: Blue!important;
}
a.dxfcGroupType_OVTime
{
	white-space: nowrap!important;
	padding: 2px 4px!important;
	color: Red!important;
}
a.dxfcOperation_OVTime
{
	white-space: nowrap!important;
	padding: 2px 4px!important;
	color: Green!important;
}
a.dxfcValue_OVTime
{
	white-space: nowrap!important;
	padding: 2px 4px!important;
	color: Gray!important;
}
.dxfcImageButton_OVTime
{
	cursor: pointer;
}

.dxeMaskHint_OVTime
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}

.dxfcControl_OVTime ul.dxfc-tree,
.dxfcControl_OVTime .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_OVTime .dxfc-tree
{
    width: 100%;
}

.dxfcControl_OVTime .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_OVTime .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_OVTime .dxfc-elb
{
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
}

.dxfcControl_OVTime .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_OVTime .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_OVTime .dxfc-nd > tbody > tr > td > a,
.dxfcControl_OVTime .dxfc-nd > tbody > tr > td > span,
.dxfcControl_OVTime .dxfc-nd > tbody > tr > td > img,
.dxfcControl_OVTime .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_OVTime .dxfc-nd > tbody > tr > td > a,
.dxfcControl_OVTime .dxfc-nd > tbody > tr > td > td,
.dxfcControl_OVTime .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_OVTime .dxfc-nd > tbody > tr > td > a
{
    line-height: 40px;
}

.dxfcControl_OVTime .dxfc-ln
{
    vertical-align: top;
}
/* -- ProgressBar -- */
.dxeProgressBar_OVTime
{
	background-color: #fafafa;
	border: 1px Solid #d1d1d1;
	
	-webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.05);

	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #9f9f9f;

    height: 36px;
}
.dxeProgressBar_OVTime .dxePBMainCell
{
	padding: 5px;
}
.dxeProgressBar_OVTime td.dxe
{
    background:  url('edtProgressPositionBack.png') no-repeat 50% center;
	padding: 2px 0;
}
.dxeProgressBarIndicator_OVTime
{
	background: #1279c0;
}

/* -- DropDownWindow -- */
.dxpcDropDown_OVTime,
.dxeDropDownWindow_OVTime
{
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}
.dxeDropDownWindow_OVTime
{
	background-color: White;
	border: 1px Solid #d1d1d1;
}
.dxeDropDownWindow_OVTime .dxgvTable_OVTime
{
	border-left: 0;
	border-right: 0;
}
.dxeDropDownWindow_OVTime .dxgvHeader_OVTime
{
	border-top: 0!important; 
}
.dxpcDropDown_OVTime .dxpc-shadow
{
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_OVTime
{
	width: 22px;
	height: 22px;
	margin: 6px 2px 6px 6px;
	cursor: pointer;
}
.dxeItemPicker_OVTime
{
	background-color: #F9F9F9;
	border: 1px solid #A3C0E8;
}
.dxeColorTable_OVTime td.dx,
.dxeItemPicker_OVTime td.dx
{
	padding: 4px;
}
.dxeColorTableCell_OVTime,
.dxeItemPickerCell_OVTime
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_OVTime
{
	width: 22px;
	height: 22px;
	font-size: 0;
}
.dxeColorTableCellDiv_OVTime[style*="rgb(255, 255, 255)"],
.dxeColorTableCellDiv_OVTime:not([style*="background-color"])
{
    border: 1px solid #f0f0f0;
	width: 20px;
	height: 20px;
}
.dxeColorTableCellSelected_OVTime
{
	padding: 2px!important;
	border: 1px solid #dcdcdc;
	background: #dcdcdc;
}
.dxeColorTableCellHover_OVTime,
.dxeItemPickerCellHover_OVTime
{
	padding: 2px!important;
}
.dxeColorTableCellHover_OVTime
{
	border: 1px solid #d9d9d9;
	background: #e5e5e5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -o-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%, rgba(223,223,223,1) 100%);

	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35);
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.35);
}
.dxeItemPickerCellHover_OVTime
{
	background-color: #1279c0;
	border: 1px solid #0A67A8;
}

/* -- Invalid Style -- */
.dxeInvalid_OVTime
{
}
.dxeInvalid_OVTime .dxeEditArea_OVTime,
.dxeInvalid_OVTime .dxeMemoEditArea_OVTime
{
}

/* -- Focused Style -- */
.dxeFocused_OVTime
{
    border: 1px solid #0A67A8;

	box-shadow: 0px 0px 2px 0px rgba(10,103,168,1);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(10,103,168,1);
}

.dxeFocused_OVTime.dxeTrackBar_OVTime
{	
	border: 0px;

	box-shadow: none;
	-webkit-box-shadow: none;
}

/* -- Null Text Style -- */
.dxeNullText_OVTime .dxeEditArea_OVTime,
.dxeNullText_OVTime .dxeMemoEditArea_OVTime
{
	color: #a6a6a6;
}

/* -- Captcha -- */
.dxcaControl_OVTime 
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}
.dxcaRefreshButton_OVTime
{
	text-decoration: none;
	color: #2B2B2B;
}
.dxcaDisabledRefreshButton_OVTime
{
	color: #A6A6A6;
}
.dxcaRefreshButtonCell_OVTime
{
    padding: 8px 0 10px!important;
}
.dxcaRefreshButtonCell_OVTime img
{
    margin-right: 8px!important;
}
.dxcaRefreshButtonText_OVTime
{
    color: #2B2B2B;
	text-decoration: none;
}
.dxcaDisabledRefreshButtonText_OVTime
{
	text-decoration: none;
}

.dxcaTextBoxCell_OVTime,
.dxcaTextBoxCellNoIndent_OVTime
{
	color: #2B2B2B;
}
.dxcaTextBoxCellNoIndent_OVTime .dxeErrorCell_OVTime
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}
.dxcaTextBoxLabel_OVTime
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: White;
	border: 1px solid #cfcfcf;

	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxcaLoadingPanel_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 15px 20px;
}
.dxcaLoadingPanel_OVTime .dxlp-loadingImage 
{
	margin:0px;
}
.dxpcLite_OVTime .dxHFBPS
{
    width: 10px;
}

.dxeTextBox_OVTime,
.dxeButtonEdit_OVTime,
.dxeIRadioButton_OVTime,
.dxeRadioButtonList_OVTime,
.dxeCheckBoxList_OVTime
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_OVTime, 
.dxeIRadioButton_OVTime, 
.dxeButtonEdit_OVTime, 
.dxeTextBox_OVTime, 
.dxeRadioButtonList_OVTime, 
.dxeCheckBoxList_OVTime, 
.dxeMemo_OVTime, 
.dxeListBox_OVTime, 
.dxeCalendar_OVTime, 
.dxeColorTable_OVTime
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* ASPxCololrEdit */
.dxcpParametersCell_OVTime input
{
	width: 71px;
	height: 24px;
    line-height: 24px;
    padding: 3px 0px 3px 5px;
	background: #fafafa;
}
.dxcpParametersCellSys .dxcpWebColorInput_OVTime
{
	float: right;
	margin-top: 9px;
}
.dxIE.dxBrowserVersion-7 .dxcpParametersCellSys .dxcpWebColorInput_OVTime
{
	margin-top: 3px;
}

.dxcpColorParameterMainDiv_OVTime
{
	padding: 0px 0 4px 9px;
	width: 95px;
	text-align: right;
}
.dxeCustomColorButton_OVTime
{
    padding-top: 6px;
    padding-bottom: 6px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxcpCurrentColor_OVTime, 
.dxcpSavedColor_OVTime
{
	height: 35px;
}
.dxcpCurrentAndSaved_OVTime
{
	width: 76px;
	margin: 1px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_OVTime,
.dxeColorSelectorMainDiv_OVTime
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_OVTime
{
	padding: 7px;
}
.dxcpColorArea_OVTime,
.dxcpHueAreaImage_OVTime,
.dxcpCurrentAndSaved_OVTime,
.dxeColorTablesMainDiv_OVTime,
.dxeColorSelectorMainDiv_OVTime,
.dxcpParametersCell_OVTime input
{
	border: 1px Solid #d1d1d1;
}
.dxeButtonsPanelDiv_OVTime
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_OVTime input
{
	min-width: 68px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_OVTime[type="text"] {
	display: inline-block;
	float: left;
	width: 30px;
	outline: none;
	padding: 6px 2px 4px 2px;
}
.dxIE.dxBrowserVersion-7 input.dxeTokenBoxInput_OVTime[type="text"] {
	padding: 6px 2px 6px 2px;
}
.dxeToken_OVTime {
    display: inline-block;
	color: #ffffff;
    margin: 3px 3px 0px 0px;
    padding: 0px 0px 0px 0px;
	float: left;
	min-width: 30px;
}
.dxIE.dxBrowserVersion-7 .dxeToken_OVTime
{
	padding-bottom: 1px;
	margin: 1px 1px 0px 0px;
}

.dxeTokenText_OVTime, .dxeTokenRemoveButton_OVTime {
	display: block;
	float: left;
}
.dxeTokenText_OVTime {
	padding: 5px 7px 5px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dxIE.dxBrowserVersion-7 .dxeTokenText_OVTime {
	padding: 5px 7px 5px 5px;
}

.dxeTokenRemoveButton_OVTime {
	cursor: pointer;
	margin-bottom: -1px;
}
.dxeToken_OVTime {
	background-color: #1279C0;
}
.dxeButtonEdit_OVTime td.dxictb {
    padding: 0px 0px 3px 3px !important;
}
.dxIE.dxBrowserVersion-7 .dxeButtonEdit_OVTime td.dxictb {
    padding: 0px 0px 1px 1px !important;
}
.dxFirefox .dxeTokenText_OVTime {
	padding: 4px 7px 0px 5px;
}

/* Editor caption */
.dxeCaptionCell_OVTime
{
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_OVTime
{
}
.dxeCaption_OVTime
{
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 18px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 18px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 16px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 5px;
}
.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 8px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 11px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 12px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 19px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 19px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 12px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 11px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 2px;
}

.dxFirefox .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 11px;
}
.dxFirefox .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 12px;
}
.dxFirefox .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 19px;
}
.dxFirefox .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 19px;
}
.dxFirefox .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 12px;
}

.dxWebKitFamily .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 11px;
}
.dxWebKitFamily .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 11px;
}
.dxWebKitFamily .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 12px;
}
.dxWebKitFamily .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 19px;
}
.dxWebKitFamily .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 19px;
}
.dxWebKitFamily .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 12px;
}
.dxWebKitFamily .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 6px;
}

/* Safari */
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 10px;
}
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 18px;
}
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 18px;
}
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 5px;
}
.dxeCaptionCellSafariSys.dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 9px;
}

/* Opera */
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 11px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 11px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 12px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 19px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 19px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 12px;
}
noindex:-o-prefocus, body:first-of-type .dxeCaptionCell_OVTime.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 6px;
}

.dxeRequiredMark_OVTime {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_OVTime {
    color: gray;
    font-style: normal;
}
/*Loading Panel*/
.dxlpLoadingPanel_OVTime,
.dxlpLoadingPanelWithContent_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: White;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxlpLoadingPanel_OVTime td.dx,
.dxlpLoadingPanelWithContent_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 15px 34px 15px 20px;
}
.dxlpLoadingPanel_OVTime .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_OVTime .dxlp-loadingImage, 
.dxcaLoadingPanel_OVTime .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 40px;
	width: 40px;
}

/* Out of range warning*/
.dxeOutOfRWarn_OVTime {
    font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_OVTime {
    margin-left: 10px;
    margin-top: 5px;
}
.dxeOutOfRWarnBottom_OVTime {
    margin-top: 10px;
}
