﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PopupControl.aspx.cs" Inherits="TimeSheet_PopupControl" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Message</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <dx:ASPxMemo ID="TextBoxMessage" runat="server" Height="100%" Width="100%" EnableViewState="False" Caption="Message"></dx:ASPxMemo>
    </div>
    </form>
</body>
</html>
