.dxssControl_OVTime 
{
	border-style: solid;
	border-width: 1px;
	border-color: #d1d1d1;
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
}
.dxssControl_OVTime .dxrControl_OVTime .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxssControl_OVTime .dxss-gl .dxss-v,
.dxssControl_OVTime .dxss-gl .dxss-h 
{
	border-color: #d1d1d1;
}
.dxssControl_OVTime .dxss-rowHeader 
{	
	border-right: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1;
}
.dxssControl_OVTime .dxss-colHeader 
{
	border-bottom: 1px solid #d1d1d1;
	border-left: 1px solid #d1d1d1;
}
.dxssControl_OVTime .dxss-crse 
{
	background-color: #1d85cd; 
}
.dxssControl_OVTime .dxss-trbe 
{
	border-top-color: #0a67ab;
}
.dxssControl_OVTime .dxss-rrbe 
{
	border-right-color: #0a67ab;
}
.dxssControl_OVTime .dxss-brbe 
{
	border-bottom-color: #0a67ab;
}
.dxssControl_OVTime .dxss-lrbe 
{
	border-left-color: #0a67ab;
}
.dxssControl_OVTime .dxtcLite_OVTime .dxtc-leftIndent
{
	width: 0!important;
}
.dxssControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer
{
	background: #fafafa;
	padding: 0!important;
}
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-tab,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom.dxtc-noSpacing > .dxtc-stripContainer .dxtc-activeTab.dxtc-lead,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-leftIndent,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-spacer,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-rightIndent,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-sbWrapper,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-sbIndent,
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-sbSpacer
{
    border-top: 1px solid #d1d1d1!important;
}
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-tab
{
}
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-tab .dxtc-link 
{
	padding: 7px 15px 5px 16px;
}

.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab
{
    border-top: 1px solid transparent!important;
}
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab .dxtc-link 
{
	padding: 7px 14px 5px 15px;
}
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab.dxtc-lead
{
    border-left: 1px solid transparent!important;
}
.dxssControl_OVTime.dxhe-rtl .dxtcLite_OVTime.dxtc-bottom .dxtc-stripContainer .dxtc-activeTab.dxtc-lead
{
    border-left: 1px solid #D1D1D1 !important;
    border-right: 1px solid transparent!important;
}
.dxssControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer .dxtc-tab
{
	background: transparent;
}
.dxssControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer .dxtc-tabHover
{
	background: #1279c0;
}
.dxssControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer .dxtc-activeTab
{
	background-color: white!important;
	border: 1px solid #d1d1d1;
	border-top: 0!important;
}
.dxssControl_OVTime .dxtcLite_OVTime.dxtc-bottom > ul
{
    border: 0!important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime > .dxtc-stripContainer.dxtc-strip
{
    padding-top: 4px !important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-leftIndent
{
    width: 4px !important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-tab,
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-activeTab,
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top.dxtc-noSpacing > .dxtc-stripContainer .dxtc-activeTab.dxtc-lead,
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-leftIndent,
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-spacer,
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-rightIndent
{
    border-bottom: 1px solid #d1d1d1!important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > .dxtc-stripContainer .dxtc-activeTab
{
    border-bottom: 1px solid transparent!important;
    border-top: 1px solid #d1d1d1!important;
}
.dxssControl_OVTime.dxhe-rtl .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-stripContainer .dxtc-activeTab.dxtc-lead
{
    border-left: 1px solid #D1D1D1 !important;
    border-right: 1px solid transparent!important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-tab
{
    border-top: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-tab.dxr-inactiveTab,
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-activeTab.dxr-inactiveTab
{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top .dxtc-strip.dxtc-stripContainer .dxtc-spacer
{
    width: 2px;
    margin-left: -1px;
}
.dxssControl_OVTime .dxrControl_OVTime .dxtcLite_OVTime.dxtc-top > ul
{
    border: 0!important;
}
.dxssControl_OVTime .dxrControl_OVTime .dxr-minBtn
{
    margin: 1px 5px 0 0;
}
.dxssControl_OVTime .dxtbControl_OVTime.dxtbr_OVTime,
.dxssControl_OVTime .dxrControl_OVTime .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}
.dxssControl_OVTime .dxrControl_OVTime .dxr-tabContent
{
    border-width: 0 0 1px 0;
    border-color: #D1D1D1;
}
.dxssControl_OVTime .dxss-hrg,
.dxssControl_OVTime .dxss-vrg {
	background-color: #0a67ab;
}
.dxssControl_OVTime .dxss-tse
{
	border-color: #0a67ab;
}
.dxssControl_OVTime .dxss-tre
{
	background: url('TouchResize.png');
}
/* Loading panel */
.dxssLoadingDiv_OVTime
{
    background: white;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: White;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxssLoadingPanel_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 15px 34px 15px 20px;
}
.dxssLoadingPanel_OVTime .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 40px;
	width: 40px;
}
/* --------------Dialogs----------------- */
.dxpcLite_OVTime .dxssDlgFooter
{
	background-color: #fafafa;
	border-top: 1px #d1d1d1 solid;
}

.dxpcLite_OVTime .dxssDlgInsertImageForm .dxssDlgImagePreviewCell
{
    color: #737373;
    border: dashed 1px #cac8c8;
}

.dxssControl_OVTime .dxpcLite_OVTime .dxrpControl_OVTime
{
	width: 100% !important;
}
.dxssControl_OVTime .dxpcLite_OVTime .dxrpControl_OVTime .dxucControl_OVTime,
.dxssControl_OVTime .dxpcLite_OVTime .dxrpControl_OVTime .dxeButtonEdit_OVTime,
.dxssControl_OVTime .dxpcLite_OVTime .dxrpControl_OVTime .dxeTextBox_OVTime
{
	width: 350px !important;
}
.dxssControl_OVTime .dxrpControl_OVTime .dxrpcontent
{
	padding: 9px 10px 10px 10px !important;
}
