﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Main.master" CodeFile="default.aspx.cs" Inherits="Reports_default" %>

<asp:Content ID="Content" ContentPlaceHolderID="MainContent" runat="server">
    <script>
        var usrName = '<%=HttpUtility.JavaScriptStringEncode(HttpContext.Current.User.Identity.Name)%>';
    </script>



</asp:Content>
