.dxGridView_gvCellError_OVTime,
.dxGridView_gvCMClearFilter_OVTime,
.dxGridView_gvCMClearGrouping_OVTime,
.dxGridView_gvCMClearGroupingDisabled_OVTime,
.dxGridView_gvCMDeleteRow_OVTime,
.dxGridView_gvCMEditRow_OVTime,
.dxGridView_gvCMFullCollapse_OVTime,
.dxGridView_gvCMFullExpand_OVTime,
.dxGridView_gvCMGroupByColumn_OVTime,
.dxGridView_gvCMNewRow_OVTime,
.dxGridView_gvCMRefresh_OVTime,
.dxGridView_gvCMShowCustomizationWindow_OVTime,
.dxGridView_gvCMShowFilterEditor_OVTime,
.dxGridView_gvCMShowGroupPanel_OVTime,
.dxGridView_gvCMSortAscending_OVTime,
.dxGridView_gvCMSortDescending_OVTime,
.dxGridView_gvCMSummaryAverage_OVTime,
.dxGridView_gvCMSummaryCount_OVTime,
.dxGridView_gvCMSummaryMax_OVTime,
.dxGridView_gvCMSummaryMin_OVTime,
.dxGridView_gvCMSummarySum_OVTime,
.dxGridView_gvCMUngroupColumn_OVTime,
.dxGridView_gvCollapsedButton_OVTime,
.dxGridView_gvCollapsedButtonRtl_OVTime,
.dxGridView_gvDetailCollapsedButton_OVTime,
.dxGridView_gvDetailCollapsedButtonRtl_OVTime,
.dxGridView_gvDetailExpandedButton_OVTime,
.dxGridView_gvDetailExpandedButtonRtl_OVTime,
.dxGridView_gvDragAndDropArrowDown_OVTime,
.dxGridView_gvDragAndDropArrowUp_OVTime,
.dxGridView_gvDragAndDropHideColumn_OVTime,
.dxGridView_gvExpandedButton_OVTime,
.dxGridView_gvExpandedButtonRtl_OVTime,
.dxGridView_gvFilterRowButton_OVTime,
.dxGridView_gvFixedGroupRow_OVTime,
.dxGridView_gvHeaderFilter_OVTime,
.dxGridView_gvHeaderFilterActive_OVTime,
.dxGridView_gvHeaderSortDown_OVTime,
.dxGridView_gvHeaderSortUp_OVTime,
.dxGridView_gvParentGroupRows_OVTime,
.dxGridView_WindowResizer_OVTime,
.dxGridView_WindowResizerRtl_OVTime
{
  background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_OVTime
{
    background-position: -19px -324px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_OVTime
{
    background-position: -17px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_OVTime
{
    background-position: 0px -307px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_OVTime
{
    background-position: 0px -273px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_OVTime
{
    background-position: -19px -67px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_OVTime
{
    background-position: -17px -273px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_OVTime
{
    background-position: -17px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_OVTime
{
    background-position: 0px -137px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_OVTime
{
    background-position: 0px -205px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_OVTime
{
    background-position: 0px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_OVTime
{
    background-position: -17px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_OVTime
{
    background-position: 0px -239px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_OVTime
{
    background-position: -17px -256px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel_OVTime
{
    background-position: 0px -256px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_OVTime
{
    background-position: 0px -290px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_OVTime
{
    background-position: -17px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_OVTime
{
    background-position: 0px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_OVTime
{
    background-position: -17px -205px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_OVTime
{
    background-position: -17px -290px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_OVTime
{
    background-position: 0px -120px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_OVTime
{
    background-position: 0px -86px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_OVTime
{
    background-position: -17px -222px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButton_OVTime
{
    background-position: -19px -48px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButtonRtl_OVTime
{
    background-position: 0px -103px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvDetailCollapsedButton_OVTime
{
    background-position: -17px -188px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvDetailCollapsedButtonRtl_OVTime
{
    background-position: -17px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvDetailExpandedButton_OVTime
{
    background-position: 0px -171px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvDetailExpandedButtonRtl_OVTime
{
    background-position: 0px -222px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvDragAndDropArrowDown_OVTime
{
    background-position: 0px -354px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_OVTime
{
    background-position: -12px -354px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_OVTime
{
    background-position: 0px -25px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_OVTime
{
    background-position: -17px -239px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvExpandedButtonRtl_OVTime
{
    background-position: -17px -154px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvFilterRowButton_OVTime
{
    background-position: -19px -340px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow_OVTime
{
    background-position: 0px 0px;
    width: 24px;
    height: 24px;
}
.dxGridView_gvHeaderFilter_OVTime
{
    background-position: 0px -324px;
    width: 18px;
    height: 15px;
}
.dxGridView_gvHeaderFilterActive_OVTime
{
    background-position: -17px -307px;
    width: 18px;
    height: 15px;
}
.dxGridView_gvHeaderSortDown_OVTime
{
		
	background-position: -18px -154px;
	width: 14px;
   	 height: 14px;
}

.dxGridView_gvHeaderSortUp_OVTime
{
background-position: -18px -154px;
width: 14px;
    height: 14px;
-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
-ms-filter: "FlipV";
}
.dxGridView_gvParentGroupRows_OVTime
{
    background-position: 0px -340px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_OVTime
{
    background-position: 0px -48px;
    width: 18px;
    height: 18px;
}
.dxGridView_WindowResizerRtl_OVTime
{
    background-position: 0px -67px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilterActive_OVTime
{
	background-color: #1279C0;
}

