.dxgvControl_OVTime,
.dxgvDisabled_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: #FFFFFF;
	cursor: default;
}
.dxgvDisabled_OVTime
{
	color: #A6A6A6;
}
.dxgvControl_OVTime a
{
	color: #045cad;
}
.dxgvControl_OVTime a:hover
{
	color: #2B2B2B;
}
.dxgvDisabled_OVTime a
{
	color: #A6A6A6;
}

.dxgvDataRow_OVTime.dxgvBELVR > td.dxgv,
.dxgvGroupRow_OVTime.dxgvBELVR > td.dxgv,
.dxgvSelectedRow_OVTime.dxgvBELVR > td.dxgv,
.dxgvFocusedRow_OVTime.dxgvBELVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvRBB .dxgvDataRow_OVTime.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_OVTime.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvSelectedRow_OVTime.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvFocusedRow_OVTime.dxgvBELVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_OVTime
{
	font: 14px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
	color: #2B2B2B;
	background-color: White;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
}
.dxgvLoadingPanel_OVTime td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 15px 34px 15px 20px;
}
.dxgvLoadingPanel_OVTime .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 40px;
	width: 40px;
}
.dxgvLoadingPanelStatusBar_OVTime .dxlp-loadingImage 
{
	background-image: url('gvLoadingOnStatusBar.gif');
	height: 16px;
	width: 16px;
}
.dxgvLoadingPanelStatusBar_OVTime
{
	background-color: transparent;
}
.dxgvLoadingPanelStatusBar_OVTime td
{
	white-space: nowrap;
	text-align: center;
	padding: 0px 2px;
}

.dxgvFilterPopupWindow_OVTime
{
	color: Black;
	border: 1px solid #A3C0E8;
}
.dxgvFilterPopupItemsArea_OVTime
{
	color: Black;
	background-color: #FFFFFF;
}
.dxgvFilterPopupButtonPanel_OVTime
{
	background-color: #ECF4FE;
	border: 1px solid #d1d1d1;
	color: #2C4D79;
}

.dxgvFilterPopupItem_OVTime td.dxgv,
.dxgvFilterPopupActiveItem_OVTime td.dxgv,
.dxgvFilterPopupSelectedItem_OVTime td.dxgv
{
	padding: 3px 2px 4px 4px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_OVTime
{
	background-color: #FFE7A2;
	color: Black;
}
.dxgvFilterPopupSelectedItem_OVTime
{
	color: Black;
	background-color: #FFBD69;
}
.dxgvControl_OVTime .dxeListBox_OVTime
{
	background-color: #FFFFFF;
}

.dxgvTable_OVTime
{
	background-color: #FFFFFF;
	border: Solid 1px #d1d1d1;
    border-top: 0;
    border-bottom: 0;
	/*border-collapse: separate!important; */
	overflow: hidden;
}
.dxgvTable_OVTime .dxgvHEC
{
	background-color: #FFFFFF;
    border: 0;
	overflow: hidden;
}
div > .dxgvTable_OVTime
{
    border-right: 0;
    border-left: 0;
}
.dxgvControl_OVTime .dxgvHSDC
{
    border-right: Solid 1px #d1d1d1;
    border-left: Solid 1px #d1d1d1;
    border-top: Solid 1px #d1d1d1;
}
.dxgvControl_OVTime .dxgvHSDC .dxgvHeader_OVTime
{
	border-top: 0!important; 
}
.dxgvControl_OVTime .dxgvCSD .dxgvHeader_OVTime
{
    border-top: 0;
}
.dxgvControl_OVTime .dxgvFSDC
{
    border-right: Solid 1px #d1d1d1;
    border-left: Solid 1px #d1d1d1;
    border-bottom: Solid 1px #d1d1d1;
}
.dxgvControl_OVTime .dxgvFSDC .dxgvFooter_OVTime td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_OVTime .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_OVTime .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_OVTime .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvControl_OVTime .dxgvCSD
{
    border: Solid 1px #d1d1d1;
	box-sizing: content-box;
}
.dxeDropDownWindow_OVTime .dxgvControl_OVTime .dxgvCSD,
.dxeDropDownWindow_OVTime .dxgvControl_OVTime .dxgvHSDC,
.dxeDropDownWindow_OVTime .dxgvControl_OVTime .dxgvFSDC
{
    border: 0;
}
.dxgvControl_OVTime .dxgvHSDC + .dxgvCSD 
{
    border-top: 0;
}
.dxgvControl_OVTime .dxgvFCSD
{
    border-right: Solid 1px #d1d1d1;
    border-left: Solid 1px #d1d1d1;
    border-bottom: Solid 1px #d1d1d1;
}

.dxgvDataRowAlt_OVTime
{
	/*background: #FAFAFA;*/
	background: #F3F2EE;
border: 2px solid #DDD8D0;
border-right: 2px solid Transparent;
border-left: 2px solid Transparent;

}
.dxgvFilterRow_OVTime
{
}
.dxgvEditForm_OVTime
{
}
.dxgvEditForm_OVTime td.dxgv
{
	border-bottom: 1px Solid #d1d1d1;
	padding: 10px 15px;
}
.dxgvEditForm_OVTime td.dxgvIndentCell
{
	border-top-width: 0px;
    border-right: 1px Solid #d1d1d1;
}
.dxgvSelectedRow_OVTime
{
	background-color: #f3f3f3;
}
.dxgvFocusedRow_OVTime
{
	background-color: #e5e5e5;
}
.dxgvSelectedRow_OVTime td.dxgvCommandColumn_OVTime a, 
.dxgvFocusedRow_OVTime td.dxgvCommandColumn_OVTime a
{
	color: #045cad;
}
.dxgvPreviewRow_OVTime
{
	background-color: white;
}
.dxgvDetailCell_OVTime,
.dxgvPreviewRow_OVTime td.dxgv,
.dxgvEmptyDataRow_OVTime td.dxgv
{
	padding: 15px 15px 15px 20px;
	border-bottom: 1px Solid #d1d1d1!important;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvPreviewRow_OVTime td.dxgvIndentCell,
.dxgvDetailRow_OVTime td.dxgvIndentCell
{
	padding: 8px 10px;
	border-bottom: 1px Solid #d1d1d1;
    border-right: 1px Solid #d1d1d1;
}
.dxGridView_gvDetailExpandedButton_OVTime,
.dxGridView_gvDetailCollapsedButton_OVTime
{
    margin: 2px 0 -2px;
}
.dxgvEmptyDataRow_OVTime
{
	color: #4F4F4F;
}
.dxgvEmptyDataRow_OVTime td.dxgv
{
	text-align: center;
}

.dxgvEditFormDisplayRow_OVTime td.dxgv,
.dxgvInlineEditRow_OVTime td.dxgv,
.dxgvDataRow_OVTime td.dxgv,
.dxgvDataRowAlt_OVTime td.dxgv,
.dxgvSelectedRow_OVTime td.dxgv,
.dxgvFocusedRow_OVTime td.dxgv
{
	overflow: hidden;
	border-top-width: 0;
	border-left-width: 0;
	border-bottom: 1px Solid #DDD8D0;/*1px Solid #d1d1d1;*/
	/*border-right: 1px Solid #d1d1d1;*/
	padding: 8px 10px 9px;
}
.dxgvEditFormDisplayRow_OVTime:last-child td.dxgv,
.dxgvInlineEditRow_OVTime:last-child td.dxgv,
.dxgvDataRow_OVTime:last-child td.dxgv,
.dxgvDataRowAlt_OVTime:last-child td.dxgv,
.dxgvSelectedRow_OVTime:last-child td.dxgv,
.dxgvFocusedRow_OVTime:last-child td.dxgv,
.dxgvDetailRow_OVTime:last-child td.dxgv
{
	border-bottom: 1px Solid #d1d1d1!important;
}
.dxgvEditFormDisplayRow_OVTime:first-child td.dxgv,
.dxgvInlineEditRow_OVTime:first-child td.dxgv,
.dxgvDataRow_OVTime:first-child td.dxgv,
.dxgvDataRowAlt_OVTime:first-child td.dxgv,
.dxgvSelectedRow_OVTime:first-child td.dxgv,
.dxgvFocusedRow_OVTime:first-child td.dxgv
{
	border-top: 1px Solid #d1d1d1!important;
}
.dxgvEditFormDisplayRow_OVTime td.dxgv:last-child,
.dxgvInlineEditRow_OVTime td.dxgv:last-child,
.dxgvDataRow_OVTime td.dxgv:last-child,
.dxgvDataRowAlt_OVTime td.dxgv:last-child,
.dxgvSelectedRow_OVTime td.dxgv:last-child,
.dxgvFocusedRow_OVTime td.dxgv:last-child
{
	border-right: 0!important;
}
.dxgvDataRow_OVTime .dxICheckBox_OVTime,
.dxgvDataRowAlt_OVTime .dxICheckBox_OVTime,
.dxgvInlineEditRow_OVTime .dxICheckBox_OVTime,
.dxgvSelectedRow_OVTime .dxICheckBox_OVTime,
.dxgvFocusedRow_OVTime .dxICheckBox_OVTime,
.dxgvDataRow_OVTime .dxeIRadioButton_OVTime,
.dxgvDataRowAlt_OVTime .dxeIRadioButton_OVTime,
.dxgvInlineEditRow_OVTime .dxeIRadioButton_OVTime,
.dxgvSelectedRow_OVTime .dxeIRadioButton_OVTime,
.dxgvFocusedRow_OVTime .dxeIRadioButton_OVTime
{
    margin: 4px 1px;
}
.dxgvCommandColumn_OVTime .dxICheckBox_OVTime,
.dxgvCommandColumn_OVTime .dxeIRadioButton_OVTime
{
    margin: -5px 1px -6px;
}
.dxgvCommandColumn_OVTime,
.dxgvEditFormDisplayRow_OVTime td.dxgvCommandColumn_OVTime,
.dxgvDataRow_OVTime td.dxgvCommandColumn_OVTime,
.dxgvDataRowAlt_OVTime td.dxgvCommandColumn_OVTime,
.dxgvSelectedRow_OVTime td.dxgvCommandColumn_OVTime,
.dxgvFocusedRow_OVTime td.dxgvCommandColumn_OVTime
{
	padding: 6px 10px 9px;
    white-space: nowrap;
}
.dxgvEditFormDisplayRow_OVTime
{
	background-color: #FFFFFF;
}
.dxgvEditFormDisplayRow_OVTime td.dxgv
{
}
.dxgvEditFormDisplayRow_OVTime td.dxgvIndentCell
{
	border-right: 1px Solid #d1d1d1;
	border-left: 1px Solid #d1d1d1;
	border-top-width: 0px;
}
.dxgvEditingErrorRow_OVTime
{
	background-color: #F3D6D6;
	color: #BA1717;
}
.dxgvEditingErrorRow_OVTime td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px Solid #A3C0E8;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 12px;
}

.dxgvInlineEditRow_OVTime td.dxgv
{
	padding: 2px 1px;
}
.dxgvFilterRow_OVTime td.dxgv
{
	border-bottom: 1px Solid #d1d1d1;
	border-right-width: 0px;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 1px;
	overflow: hidden;
}
.dxgvInlineEditRow_OVTime .dxeTextBox_OVTime td.dxic,
.dxgvFilterRow_OVTime .dxeTextBox_OVTime td.dxic
{
	padding: 4px 2px 4px 7px!important;
}
.dxgvInlineEditRow_OVTime .dxeButtonEdit_OVTime td.dxic,
.dxgvFilterRow_OVTime .dxeButtonEdit_OVTime td.dxic 
{
	padding: 4px 2px 4px 7px!important;
}
.dxgvInlineEditRow_OVTime .dxeButtonEditButton_OVTime,
.dxgvFilterRow_OVTime .dxeButtonEditButton_OVTime 
{
    padding: 10px 10px;
}

.dxgvInlineEditRow_OVTime .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxgvFilterRow_OVTime .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxgvInlineEditRow_OVTime .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover,
.dxgvFilterRow_OVTime .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover
{
    border-width: 0;
    padding: 4px 3px 3px 3px; 
}

.dxgvInlineEditRow_OVTime .dxChrome .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxgvFilterRow_OVTime .dxChrome .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxgvInlineEditRow_OVTime .dxChrome .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover,
.dxgvFilterRow_OVTime .dxChrome .dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover
{
    padding-bottom: 0;
    padding-top: 3px;
}

.dxgvInlineEditRow_OVTime td:last-of-type.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxgvFilterRow_OVTime td:last-of-type.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime,
.dxgvInlineEditRow_OVTime td:last-of-type.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover,
.dxgvFilterRow_OVTime td:last-of-type.dxeButtonEditButton_OVTime.dxeButtonEditClearButton_OVTime:hover
{
    padding-left: 10px;
    padding-right: 10px;
}

.dxgvInlineEditRow_OVTime .dxeSpinIncButton_OVTime, 
.dxgvInlineEditRow_OVTime .dxeSpinDecButton_OVTime,
.dxgvFilterRow_OVTime .dxeSpinIncButton_OVTime, 
.dxgvFilterRow_OVTime .dxeSpinDecButton_OVTime
{
    padding: 4px 10px;
}
.dxgvInlineEditRow_OVTime .dxeSpinLargeIncButton_OVTime,
.dxgvInlineEditRow_OVTime .dxeSpinLargeDecButton_OVTime,
.dxgvFilterRow_OVTime .dxeSpinLargeIncButton_OVTime, 
.dxgvFilterRow_OVTime .dxeSpinLargeDecButton_OVTime
{
    padding: 9px 10px;
}
.dxgvGroupRow_OVTime
{
    color: #7e7e7e;
    background-color: #FFFFFF;
}
.dxgvFocusedGroupRow_OVTime
{
	background-color: #e5e5e5;
}
.dxgvGroupRow_OVTime td.dxgv,
.dxgvFocusedGroupRow_OVTime td.dxgv
{
	border: 0;
    border-bottom: 1px Solid #d1d1d1;
	vertical-align: middle;
	white-space: nowrap;
	padding: 8px 10px 9px;
    background-color: inherit;
}
.dxgvGroupRow_OVTime:last-child td.dxgv,
.dxgvFocusedGroupRow_OVTime:last-child td.dxgv
{
    border-bottom: 1px Solid #d1d1d1!important;
}
.dxGridView_gvExpandedButton_OVTime,
.dxGridView_gvCollapsedButton_OVTime 
{
    margin: 2px 0 -2px;
}
.dxgvFocusedGroupRow_OVTime td.dxgvIndentCell,
.dxgvFocusedRow_OVTime td.dxgvIndentCell,
.dxgvSelectedRow_OVTime td.dxgvIndentCell
{
	border-top-width: 0px;
	border-right: 1px Solid #d1d1d1;
}

.dxgvHeaderPanel_OVTime
{
	color: #979797;
	white-space: nowrap;
	border-top: 1px Solid #d1d1d1;
    border-bottom: 1px Solid #d1d1d1;
	padding: 8px 4px 7px 6px;
}

.dxgvMSDraggable .dxgvHeader_OVTime,
.dxgvMSDraggable.dxgvGroupPanel_OVTime
{
    -ms-touch-action: pinch-zoom;
}
.dxgvHeader_OVTime
{
	cursor: pointer;
	white-space: nowrap;
	padding: 7px 10px 6px; /*border: 1px Solid #d1d1d1;*/
	overflow: hidden;
	font-weight: normal;
	text-align: left;
/*background: #a6ce4a;*/
	background: Transparent;
	color: #000000;
}
tr:first-child > .dxgvHeader_OVTime,
tr[id$="DXHeadersRow0"] > .dxgvHeader_OVTime
{
	border-top-width: 1px!important; 
}
.dxgvHeader_OVTime a,
.dxgvHeader_OVTime a:hover
{
	/*color: #ffffff;1279c0*/
	color: #000000; /*1279c0*/
}

.dxgvHeader_OVTime,
.dxgvHeader_OVTime table
{
	  /*color: #ffffff; 7e7e7e*/
	color: #000000; /*7e7e7e*/
}
.dxgvHeader_OVTime td
{
	white-space: nowrap;
}
.dxgvHeader_OVTime a.dxgvCommandColumnItem_OVTime
{
	margin: 0px 5px 0px 0px;
	vertical-align: middle;
}
.dxgvHeader_OVTime a.dxgvCommandColumnItem_OVTime:hover
{
	color: #2b2b2b;
}
.dxgvCustomization_OVTime, 
.dxgvPopupEditForm_OVTime
{
	padding: 0;
	margin: 0;
}
.dxgvGroupPanel_OVTime
{
	color: #979797;
	white-space: nowrap;
	border-top: 1px Solid #d1d1d1;
	padding: 16px 4px 16px 6px;
}
.dxgvFooter_OVTime
{
	background-color: #fafafa;
	white-space: nowrap;
}
.dxgvFooter_OVTime td.dxgv
{
	padding: 12px 10px;
	border-right-width: 0px;
	border-bottom: 1px Solid #d1d1d1!important;
}
.dxgvFSDC .dxgvFooter_OVTime td.dxgv,
.dxgvCSD .dxgvFooter_OVTime td.dxgv
{
	border-bottom: 0!important;
}
.dxgvGroupFooter_OVTime
{
	white-space: nowrap;
}
.dxgvGroupFooter_OVTime td.dxgv

{
	padding: 8px 10px 9px; /*border-bottom: 1px Solid #d1d1d1;*/
	border-right-width: 0px;
/*added the following */
	color: #404040;
}

.dxgvInlineEditRow_OVTime td.dxgvIndentCell,
.dxgvDataRow_OVTime td.dxgvIndentCell,
.dxgvGroupRow_OVTime td.dxgvIndentCell,
.dxgvGroupFooter_OVTime td.dxgvIndentCell
{
	border-top-width: 0px;
	border-right: 1px Solid #d1d1d1;
}

.dxgvTitlePanel_OVTime,
.dxgvTable_OVTime caption
{
	font-weight: normal;
	padding: 8px 5px 9px;
	text-align: center;
}
.dxgvLoadingDiv_OVTime
{
	background-color: Gray;
	opacity: 0.01;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxgvPagerBottomPanel_OVTime + .dxgvStatusBar_OVTime
{
	border-top: 1px Solid #d1d1d1;
}
.dxgvStatusBar_OVTime tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_OVTime tr.dxgv > td
{
	padding: 13px 5px;
}
.dxgvCommandColumn_OVTime a
{
	margin: 0px 5px 0px 0px;
	vertical-align: middle;
}
.dxgvCommandColumnItem_OVTime
{
	color: #1279c0;
}
.dxbButton_OVTime[class~="dxgvCommandColumnItem_OVTime"],
.dxgvEditFormTable_OVTime div.dxbButton_OVTime
{
	margin: -2px 2px;
	
}
.dxbButton_OVTime[class~="dxgvCommandColumnItem_OVTime"] .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxgvFilterRow_OVTime a.dxgvCommandColumnItem_OVTime
{
    display: inline-block;
    margin-top: 1px;
}
.dxgvEditFormTable_OVTime
{
	margin: 10px 0px;
	padding: 0px;
}
.dxgvEditFormCaption_OVTime
{
	padding: 5px 4px 4px 8px;
	white-space: nowrap;
}

.dxgvInlineEditCell_OVTime
{
	padding: 4px;
}
.dxgvEditFormCell_OVTime
{
	padding: 4px;
	border-width: 0;
}

.dxgvFilterBar_OVTime
{
	border-top: 1px solid #d1d1d1;
}
.dxgvFilterBar_OVTime a
{
	color: #045cad;
	text-decoration: underline;
}
.dxgvFilterBar_OVTime a:hover
{
	color: #2b2b2b;
}
.dxgvFilterBarCheckBoxCell_OVTime
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_OVTime
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_OVTime
{
	padding: 8px 5px 10px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_OVTime
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_OVTime
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_OVTime
{
	background-color: white;
	border-top: 1px solid #d1d1d1;
	padding: 12px;
	white-space: nowrap;
}

.dxgvPagerBottomPanel_OVTime, 
.dxgvPagerTopPanel_OVTime
{
	padding: 4px 0;
}

.dxgvDataRowHover_OVTime
{
	background: #1279C0;
	color: white;
}
.dxgvDataRowHover_OVTime a,
.dxgvDataRowHover_OVTime td.dxgvCommandColumn_OVTime a
{
	color: white;
}

.dxgvControl_OVTime .dxpLite_OVTime
{
    padding: 6px 6px 6px 0;
}

.dxgvControl_OVTime .dxgvHFSAC
{
    padding: 10px 0 0 9px;
}
.dxgvControl_OVTime .dxgvHFSC
{
    padding: 10px 0 6px;
}
.dxgvControl_OVTime .dxgvHFSC div
{
    height: 1px;
    background: #ececec;
}
.dxgvControl_OVTime div[id$='DXEPLPC']
{
    height: 60px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_OVTime
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_OVTime td.dxgvBatchEditCell_OVTime
{
    padding: 0;
}
.dxgvControl_OVTime td.dxgvBatchEditModifiedCell_OVTime
{
    background: #d7f9c7;
}
.dxgvControl_OVTime .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_OVTime .dxgvErrorCell img
{
    margin: -2px 0;
}
.dxgvStatusBar_OVTime .dxgvCommandColumn_OVTime a
{
    margin-right: 10px;
}
.dxgvControl_OVTime td.dxgvBatchEditCell_OVTime .dxichCellSys
{
    padding-left: 0;
}

.dxgvControl_OVTime td.dxgvBatchEditCell_OVTime,
.dxgvControl_OVTime td.dxgvBatchEditModifiedCell_OVTime
{
    border-bottom-width: 0!important;
}

.dxgvSearchPanel_OVTime
{
    padding: 16px 4px 16px 6px;
}
.dxgvSearchPanel_OVTime > table 
{
    width: 70%;
    max-width: 650px;
}
.dxgvControl_OVTime .dxgvSearchPanel_OVTime .dxbButton_OVTime
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_OVTime .dxgvSearchPanel_OVTime .dxbButton_OVTime {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_OVTime .dxgvHL
{
    background: #ffd83a;
	color: #333333;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_OVTime .dxgvSearchPanel_OVTime .dxbButton_OVTime
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_OVTime .dxgvSearchPanel_OVTime .dxbButton_OVTime .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
