﻿html, body {
    margin: 0;
    padding: 0;
}
.editorContainer
{
    width: 32%;
    margin-right: 1%;
    margin-bottom: 15px;
    float: left;
    min-width: 30px;
}
.editor
{
    width: 100%;
}
.editorCaption
{
    width: 104px;
}
.templateTitle 
{
    float:left;
    margin: 11px 15px;
    list-style-image:url("Content/Images/OVTimeLogo2.png");
    background-image:url("Content/Images/OVTimeLogo2.png");
}
.templateTitle a 
{
    text-decoration: none;
    font-size: 200%;
    color: #F1F2F5;
    list-style-image:url("Content/Images/OVTimeLogo2.png");
}