﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/OVMaster.master"  CodeFile="Demo.aspx.cs" Inherits="Demo" %>

<%--To edit navigation panel -> go to OVMaster.master and then edit the panel in the html code--%>
<%--To Edit BreadCrumbs -> go to Web.sitemap and add the sitemapnodes of the left navigation panel --%>

<asp:Content ID="header_" ContentPlaceHolderID="Header" runat="server">
<h4><i class="icon-arrow-left52 position-left"></i><span class="text-semibold">Demo Page</span></h4>
</asp:Content>


<asp:Content ID="Content" ContentPlaceHolderID="ContentPage" runat="server">
    Content goes here
</asp:Content>

