.dxm-hovered .dxXtraReports_BtnFirstPage_OVTime,
.dxm-hovered .dxXtraReports_BtnLastPage_OVTime,
.dxm-hovered .dxXtraReports_BtnNextPage_OVTime,
.dxm-hovered .dxXtraReports_BtnPrevPage_OVTime,
.dxm-hovered .dxXtraReports_BtnPrint_OVTime,
.dxm-hovered .dxXtraReports_BtnPrintPage_OVTime,
.dxm-hovered .dxXtraReports_BtnSave_OVTime,
.dxm-hovered .dxXtraReports_BtnSaveWindow_OVTime,
.dxm-hovered .dxXtraReports_BtnSearch_OVTime,
.dxXtraReports_BtnFirstPage_OVTime,
.dxXtraReports_BtnFirstPageDisabled_OVTime,
.dxXtraReports_BtnLastPage_OVTime,
.dxXtraReports_BtnLastPageDisabled_OVTime,
.dxXtraReports_BtnNextPage_OVTime,
.dxXtraReports_BtnNextPageDisabled_OVTime,
.dxXtraReports_BtnPrevPage_OVTime,
.dxXtraReports_BtnPrevPageDisabled_OVTime,
.dxXtraReports_BtnPrint_OVTime,
.dxXtraReports_BtnPrintDisabled_OVTime,
.dxXtraReports_BtnPrintPage_OVTime,
.dxXtraReports_BtnPrintPageDisabled_OVTime,
.dxXtraReports_BtnSave_OVTime,
.dxXtraReports_BtnSaveDisabled_OVTime,
.dxXtraReports_BtnSaveWindow_OVTime,
.dxXtraReports_BtnSaveWindowDisabled_OVTime,
.dxXtraReports_BtnSearch_OVTime,
.dxXtraReports_BtnSearchDisabled_OVTime,
.dxXtraReports_PageBorder_blc_OVTime,
.dxXtraReports_PageBorder_brc_OVTime,
.dxXtraReports_PageBorder_tlc_OVTime,
.dxXtraReports_PageBorder_trc_OVTime
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxm-hovered .dxXtraReports_BtnFirstPage_OVTime
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnLastPage_OVTime
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnNextPage_OVTime
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrevPage_OVTime
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrint_OVTime
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnPrintPage_OVTime
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSave_OVTime
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSaveWindow_OVTime
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxXtraReports_BtnSearch_OVTime
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPage_OVTime
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_OVTime
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_OVTime
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_OVTime
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_OVTime
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_OVTime
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_OVTime
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_OVTime
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_OVTime
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_OVTime
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_OVTime
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_OVTime
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_OVTime
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_OVTime
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_OVTime
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_OVTime
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_OVTime
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_OVTime
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_OVTime
{
    background-position: 0px -481px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_OVTime
{
    background-position: 0px -470px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_OVTime
{
    background-position: 0px -492px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_OVTime
{
    background-position: 0px -459px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_OVTime,
.dxXtraReports_PageBorder_l_OVTime,
.dxXtraReports_PageBorder_r_OVTime,
.dxXtraReports_PageBorder_b_OVTime {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_OVTime {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_OVTime {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_OVTime {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_OVTime {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

