.dxsplControl_OVTime .dxmLiteReportToolbarPane {
    color: #2B2B2B;
    padding: 0px;
}

.dxsplControl_OVTime .dxSplReportToolbarHSep {
    display: none;
}

.dxsplControl_OVTime .dxmLiteReportToolbarPane .dxmLite_OVTime .dxmtb.dxm-horizontal .dxm-separator {
    margin: 1px 0 2px;
}

.dxsplControl_OVTime .dxmLiteReportToolbarPane .dxmLite_OVTime .dxmtb.dxm-horizontal .dxm-item {
    margin: 1px 0 0;
}

.dxsplControl_OVTime .dxmLiteReportToolbarPane .dxmLite_OVTime .dxmtb.dxm-horizontal .dxtb-comboBoxMenuItem,
.dxsplControl_OVTime .dxmLiteReportToolbarPane .dxmLite_OVTime .dxmtb.dxm-horizontal .dxtb-labelMenuItem {
    margin: 0;
}

.dxsplControl_OVTime .dxmLiteReportToolbarPane .dxmLite_OVTime .dxm-horizontal.dxmtb .dxtb-comboBoxMenuItem {
    padding: 0 4px 0 2px!important;
}

.dxIE.dxBrowserVersion-8 .dxsplControl_OVTime .dxmLiteReportToolbarPane .dxmLite_OVTime .dxm-horizontal.dxmtb .dxtb-labelMenuItem {
    padding: 7px 4px 0!important;
    padding: 6px 4px 0!important;
}

.dxFirefox .dxsplControl_OVTime .dxmLiteReportToolbarPane .dxmLite_OVTime .dxm-horizontal.dxmtb .dxtb-labelMenuItem {
    padding: 6px 4px 0!important;
}

