﻿.employee > img {
	height: 65px;
	width: 95px;
}

.employee > div {
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	line-height: 65px;
}

.employee > div.price {
	float: right;
	font-size: 18px;
}